---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&location=-33.86705220,151.19573620&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CoQC9gAAACPP5HXKFEmzKXAueQziHb2kuHf5IlhQ7Nm-XJO-FWa62oEBI-RIn2SUlY3EuxxSPB5UPWTE99ryU60UTh8vdDzqx7Kt-tG8-ZnGpFdVsEP3988IlBxJzMskaWIlz4mK8jr8er8K9w2fjXc-uW9nxoJTHAEScWYaiqIf8JPBIg35cU3poDEjOWvJIdwAIkreusM4rEdANa4xF8meS4abZGYhjGz6W2qNNYg4qR9Yag7f9tODIgSxKufYxqWGbwK2FBref-Sm8M-c06VulRzMybTT6ncN4DXwHT7H5J_GG6irPYacY-az0FvYKSnIuP-irk6ubBS4C_z19914KOPKnSgSEIlF3XkR42Owx2tfFgzA2hwaFHCJQewSiCSFAIRaodtYRysFMTxs",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8688197,
                       "lng" : 151.2092955
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.5782519,
                          "lng" : 151.3429976
                       },
                       "southwest" : {
                          "lat" : -34.118328,
                          "lng" : 150.5209286
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "044785c67d3ee62545861361f8173af6c02f4fae",
                 "name" : "Sydney",
                 "photos" : [
                    {
                       "height" : 2448,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/101793126109209980882/photos\"\u003eHatim Ghadhban Abood\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAAAvNULaIpFrWYvSoW7Jiisz4s0mrcJhnEAIQut_U7tHSz_7_6Nw8LCCZYwtaLeEeNIL7v8F1PoUgC-43u_fGnzifXZZVUnaotSHzgXRyS8uDmmOi8hanOfAaPZL4cqfsYTNgsu6n8_fOLengJ5_g8-5HLj8A1Kvgi0OM81yYkpzHEhDU1YasVb3DT7DPo5ihbSEYGhSW4JiM9jDdRuKJZihEtVtZuBepGA",
                       "width" : 3264
                    }
                 ],
                 "place_id" : "ChIJP3Sa8ziYEmsRUKgyFmh9AQM",
                 "reference" : "CmRbAAAA2LT83SPyfXfjGISpaNGRvr8my_DBG23xa_O0NKp1Qf-o9szdop43aiqS288VdoVQ2CvE1r6eEI5aNAYO4H2lDIGiE5I8qjbsHkbkAZYj_gC_krMWVdN-rPWNy8PlwOMrEhD7bBeJzWngi8p170XKFOpbGhQQ3WAvCUxvvzA7In6toJHWq0z9WQ",
                 "scope" : "GOOGLE",
                 "types" : [ "colloquial_area", "locality", "political" ],
                 "vicinity" : "Sydney"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868111,
                       "lng" : 151.195219
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.868011,
                          "lng" : 151.19567405
                       },
                       "southwest" : {
                          "lat" : -33.868411,
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Mon, 06 Feb 2017 22:00:12 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&query=Statue%20of%20liberty,%20New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "New York, NY, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.6892494,
                       "lng" : -74.04450039999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.71823,
                          "lng" : -73.99872490000001
                       },
                       "southwest" : {
                          "lat" : 40.6795892,
                          "lng" : -74.05975889999998
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png",
                 "id" : "5a0d7e67078e35af0c456a277df9ffba7c1e4da6",
                 "name" : "Statue of Liberty National Monument",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : false,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 3464,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/102603982411260017180/photos\"\u003eLauren\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAAIe1pvIdyTqld6Q-4_Wfh2LgVIu8zd_k0SNB6RT6FVsJC0hNJ5nAGdXE6jqPjia2iaDzewBzVLnsdQ9_mIw2WcKbcgtRMrYWm-v4aRXe0VVRL6Z170p3f4Z0VCVgrweMWan40FY2k1RWRLYxDvlfW-PkPDbD2Bc_-0DZw4sSlq2UEhDsLnvscILFxkYokNE4rUCeGhR2wLXj8OU4v3dog1ow92n1NfTzFQ",
                       "width" : 4618
                    }
                 ],
                 "place_id" : "ChIJPTacEpBQwokRKwIlDXelxkA",
                 "rating" : 4.5,
                 "reference" : "CmRRAAAA_VDD90igARQ5vafwGl4zHGY92nR8MUJWzy-8n5FX5dflJ5AmyG-fswl7eE_jjR9iY9ZZXyg_GxMmk1LmhzaqSpGrF11LVyDXfY-wgkOG5p_j7-zv8gr_uVutBYKKPo6JEhBiL235lzHVNm9d8kFjqqHOGhQ9Xdfo30MmswMPodjIBsKFddBU5Q",
                 "types" : [ "park", "point_of_interest", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 06 Feb 2017 22:00:17 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Mon, 06 Feb 2017 22:00:17 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attr[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&language=&query=Statue%20of%20liberty,%20New%20York&rankby=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
     [...]
