---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86799999999999,
                       "lng" : 151.195
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86779065,
                          "lng" : 151.19531415
                       },
                       "southwest" : {
                          "lat" : -33.86862805,
                          "lng" : 151.19405755
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "0761a21e23eda2598330d428413cb59431316a61",
                 "name" : "Lobby Lounge",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : false,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 816,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/110208511255995075770/photos\"\u003eJonathan O&#39;Brien\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBcwAAADHkHDySHYAwGS5zjGMAudEAG17uSLjac_VIT0OPkDoCSanXq6ZHNQC24ad25OOZXy4szgLuYIhGl63j3BG5s8c38PHzbCgHdeO38yPpotemgSvKY_bsQcgQp1ya4dfyXWSBLoX4e_wpx4aZHE_nNFnLMG2-4wM9LJCNt0-RWm7kEhDWoUHP5FQRJUwQIB5enOoSGhSVffd0OYj9OjnaG27OgNJwJlkljA",
                       "width" : 488
                    }
                 ],
                 "place_id" : "ChIJ1-v38TauEmsRHbUt24abGq8",
                 "rating" : 3.9,
                 "reference" : "CmRSAAAABa713ZOgGiPZau6gscxUr-IHmiheVaf8ryIxgX0lFeL7FxBaYRZ9o-sfzKSBuKzNbvecbSXAOkC_cJdILZhInkurVnSy4Mp6oycGiIwATWyxOxULNkkZVikQSfXFwf54EhDgn3fieTTqvrttQ8WlvXTUGhSmuqZawWRsKplMo5nKMTgd6-7jmQ",
                 "scope" : "GOOGLE",
                 "types" : [ "cafe", "food", "store", "point_of_interest", "establishment" ],
                 "vicinity" : "80 Pyrmont Street, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8683385,
                       "lng" : 151.1954624
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8677086,
                          "lng" : 151.195688
                       },
                       "southwest" : {
                          "la[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyD9vqH-0-sVgX2jhXteunpS_mVWTqRUadE&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyD9vqH-0-sVgX2jhXteunpS_mVWTqRUadE&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=500&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CpQEAgIAACUR_r4U0M4dWMp-q19aWW5x7_OvMlbopTQ0Xi2ThsPoWzLZFu317uC3Q90Q8S6btSmIRlTHwsCdvrJjZMeY0MuWHiDky1awaHVJxYiNBCHINIj3Zi2oqONQEnhp9BiLbRDzKqtEFuiIzq4AY_1p8WeifQFQdkX30X2BYVspSO06vFLMqNXFQmy9fgOdXM5j-uAg7oB_LLoWN6CotU2yUJ1WwA-hSMrCrFm3Binc27VyF8ftEqznxUvZIcmVTAgzBS43W3Mqg-79QeV9o6kKS-b5T7uKy0inYB5VQaOmdCkgINKhIA-trsGJ4Xk1BOfrhy7KUAxiz86UHtI7Bv1E5qt4UOW4rylMicbCgFRhn5TMvZzK8cHZuS3_HpskqRSZ63qdHYhi93xLxSMBePrAxoHQJKPZAf5EglukSqOS2V5dYLn7-toIbFut0KjYUTS4nTvldI_aoDk21wLDAA6qCiG1zioikIvIIjw3V-2d7v[...]
