---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&types=food%7Cestablishment&name=italian&keyword=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [
              "Listings by \u003ca href=\"http://www.yellowpages.com.au/\"\u003eYellow Pages\u003c/a\u003e"
           ],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8666690,
                       "lng" : 151.1922820
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "954a594077141a5f37fa1fb4340988bada9a93f0",
                 "name" : "Raffinato Italian Restaurant",
                 "reference" : "CoQBewAAAAa1LEKw4ZEH7YFpMUwPeZNUWxli0xqwnEBQjqVnroC9Q-oIUWg7j7pDvckKSNN1Kj8LpL2OhLZnUEo7de2oHDeTRhpfPUanzItigDBuxzY2D1joXcLb0XH9p0UD8HknzBRwu4vnrIEfY4BWpcoJs5g2KgAlfwwi9PaPoGgrFV3XEhBDD1RWBMqa1dbtiFi60CMIGhRBhD3W0AeNRrMmRqbSnGsiuzR0_A",
                 "types" : [ "establishment" ],
                 "vicinity" : "46 Harris Street, Pyrmont"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 14 Jul 2012 04:45:15 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=italian&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
       [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&rankby=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=italian&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      stri[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&rankby=&key=abc123&name=italian&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 22 Mar 2013 10:47:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&keyword=&language=&location=-33.86705220,151.19573620&name=italian&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.866669,
                       "lng" : 151.192282
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "954a594077141a5f37fa1fb4340988bada9a93f0",
                 "name" : "Raffinato Italian Restaurant",
                 "place_id" : "ChIJIRtr0TWuEmsRq_tQAbxShPg",
                 "reference" : "CoQBfgAAANvNmHyB3WlaL3BG1YqvtJIEpcrLkrIAFQwNPgEFBk06MK3013zLa2hwwl9VpgGhBd9o37vo5yh1RlQGZjyO7EVyoK3J99Re8-Y3328oc4VI06-hIkduFXZf7q3Vo-bhl2PdUCPvC5NdGRuFFk2thOAuiDO49397puegzn7Pwxu2EhCcSCYlE8QNkehCq_fV9J1dGhQLJYlz9jl4m4qN3WGUPCaBl7eHZA",
                 "scope" : "GOOGLE",
                 "types" : [ "restaurant", "food", "establishment" ],
                 "vicinity" : "46 Harris St, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86771,
                       "lng" : 151.191917
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "2e2a9c116f1110a816d6f78585018c73663218d4",
                 "name" : "Italian Kitchen Express",
                 "place_id" : "ChIJN97jOjSuEmsRQN_2Q36vGbY",
                 "reference" : "CoQBeQAAADIw9DsbDDoFbFYNOP_MYp3C0fFCI_GLCS5A5GiaRisEpBKeRIQaROkEG-3PPkkIXtrsBaNEkKQBXH1yZ1cA1O7N15bI-eENl4Xp9AhgTJDptlM3lPiBaic_DSuj3HDe1hbLF5jLiG-JPlmtrdtSzS_3IOXeCXp3SgISsyYSzzG4EhDte7AcYJStaKDBS0_9nOFxGhRvyk3BU2MIDHJiMTlUfiQmih4QWw",
                 "scope" : "GOOGLE",
                 "types" : [ "restaurant", "home_goods_store", "store", "food", "establishment" ],
                 "vicinity" : "6/45-55 Harris St, Pyrmont"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 21 Jul 2014 11:28:59 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyATDpXAyvequDQBzYjHucOXGEn7fXtikVo&keyword=&language=&location=-33.86705220,151.19573620&name=italian&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyCJ0NiNmva8TTlxDoU-BWvxW27zGAichFk&keyword=&language=&location=-33.86705220,151.19573620&name=italian&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro&keyword=&language=&location=-33.86705220,151.19573620&name=italian&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro&keyword=&language=&location=-33.86705220,151.19573620&name=italian&radius=&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sat, 01 Nov 2014 22:56:33 GMT
recorded_with: VCR 2.9.2
