---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=italian&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8680309,
                       "lng" : 151.1955118
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86780835,
                          "lng" : 151.1960651
                       },
                       "southwest" : {
                          "lat" : -33.86869855,
                          "lng" : 151.1938519
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "08c0f74375ca1956d8ae2919512171adcd8266d7",
                 "name" : "Balla",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : false,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 2976,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/116060194460169514612/photos\"\u003eMoana Amoa\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAAK29afV29Gtkk7BB1_SiImiMHwuM5FlPELZs9HnxcAEO2HtRhOI6yrjzYVexmcDjRFHKQLgLTb6h8B7lq-SfOKw6HB1zH8AGwr2C1GdxFtnctFbimtp4vn4K3iGl_aRG1QQRmefqHQkn-n9yISNxGz3O1gF1KA8MbWSYvtDIQwcfEhALmlxJ3KN_CFhh6umOLhR5GhTmpFQbBIVRZevDnNlXc0LXUCV-uA",
                       "width" : 2976
                    }
                 ],
                 "place_id" : "ChIJ1-v38TauEmsRFBHuvMmwNyA",
                 "price_level" : 3,
                 "rating" : 3.6,
                 "reference" : "CmRRAAAA3nNaAbbXiaMkd11kBPj7dp4i-b4Sg_wpkyWr_XTz1-v-3PGWiFy6HUz8p68_jr9W4QSByZopayC1rdkV5Vbj_dNO81xO5-1IlObx0IrgDiFF_5v8Ryjm7QoCSNJ8PNg2EhAw3iTvZBqojHC0dgv9_UnJGhTTPdfNlFT-7T8GmsKFP9mipBbNzQ",
                 "scope" : "GOOGLE",
                 "types" : [ "restaurant", "food", "point_of_interest", "establishment" ],
                 "vicinity" : "The Star, G, 80 Pyrmont Street, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.866407,
                       "lng" : 151.195708
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86620449999999,
                          "lng" : 151.1958994
                       },
                       "southwest" : {
          [...]
