---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<API_KEY>&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=500&rankby=&types=atm%7Clodging
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8693652,
                       "lng" : 151.194084
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8681376697085,
                          "lng" : 151.1955027302915
                       },
                       "southwest" : {
                          "lat" : -33.8708356302915,
                          "lng" : 151.1928047697085
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/atm-71.png",
                 "id" : "6c49664eae2fd39063c4c4c163f94e60c52deab3",
                 "name" : "CBA ATM",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 2988,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/111462673989508629224/photos\"\u003eJames Wong\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAd9KaxDS7LA54iCKarnkNSB5SsSljJiFrZkUJajOX5Gi4upW8zbFIbLtN7BVxHngODhwDw0E9gInsrhAdzhiOvkYsKJ_q-hTjXH8Zax21mOvRcBsKjc_JR27CpgNmmVuQEhAs4A8ZlhoDRxSQZZZmQYPXGhTPCfMqPwt3Bdt4nJntOE6u81Q7ZQ",
                       "width" : 5312
                    }
                 ],
                 "place_id" : "ChIJdfnCtjauEmsR7PVSGk5n5e4",
                 "plus_code" : {
                    "compound_code" : "45JV+7J Pyrmont, New South Wales, Australia",
                    "global_code" : "4RRH45JV+7J"
                 },
                 "rating" : 4.3,
                 "reference" : "ChIJdfnCtjauEmsR7PVSGk5n5e4",
                 "scope" : "GOOGLE",
                 "types" : [ "atm", "bank", "finance", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 8,
                 "vicinity" : "2 Union Street, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8697087,
                       "lng" : 151.1973586
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8684763697085,
                          "lng" : 151.1987115302915
                       },
                       "southwest" : {
                   [...]
