---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&sensor=false&types=food%7Cestablishment&name=&keyword=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [\n      \"Listings by \\u003ca href=\\\"http://www.yellowpages.com.au/\\\"\\u003eYellow
        Pages\\u003c/a\\u003e\"\n   ],\n   \"next_page_token\" : \"CmRZAAAAZ6NTiFfjy11j0vOLOg1ha0hw-Cp2hJlblqLzYSxrIoNUQ2AZ2jabtA2kmAQXL0yoz_Yey7mJCH8_KlNQ324K4ZwcVcqLrHmgj6t_Km1TJ_T94GPbeQ1CAgKVZYBsZv4VEhD7-VrgzX8Nnu7ust54713sGhSn1VdaT-cPzEF9BXX9dCOdJkj7Fg\",\n
        \  \"results\" : [\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.8681990,\n               \"lng\" : 151.1945850\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png\",\n
        \        \"id\" : \"edd23ebe6cd17dcbd9139e2643324c9195a9e3e3\",\n         \"name\"
        : \"The Star\",\n         \"opening_hours\" : {\n            \"open_now\"
        : false\n         },\n         \"rating\" : 4.10,\n         \"reference\"
        : \"CnRlAAAArDEbuJIP9-Yx-liolM3FQTZClkm-uQAf-FQBmTCwG6CMOgAgoqZLcoFj158SmEihg3dIzQtwy5fJ8a0bgSsF_3SbGp_WC7MuS4LFNRk1VRQawxEzdKyC8AOFQNDPd2w7Q6VsflzCoRJ0qHtFwNkpehIQ5eAcTH2qKcUfVe9eB1IdNBoUeLoftzgWcZ1enptpk9KOBDFw7gE\",\n
        \        \"types\" : [ \"night_club\", \"bar\", \"restaurant\", \"lodging\",
        \"food\", \"establishment\" ],\n         \"vicinity\" : \"80 Pyrmont Street,
        Pyrmont\"\n      },\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.86820,\n               \"lng\" : 151.1945860\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"268f3a99e1bd1a67b57fc561f67135d071c21a2c\",\n         \"name\"
        : \"The Star\",\n         \"rating\" : 4.20,\n         \"reference\" :[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"next_page_token\" : \"CmRcAAAAm28fm35xRGTtOOwYoyE0ZUKImnsl62Ku5zSTjhSkvAHcs8bgH4w2JSudmPQjbwtANm_lSecs6btGcdHLko3ywRhbClK3Iz-fHRJCucou4O1veUxGRJRSluwnliz1cR5REhAqGlHguqbH25XSKuHF_5g1GhQKLBwAtR2yikS4rcJpYecJZl2PYw\",\n
        \  \"results\" : [\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.8681990,\n               \"lng\" : 151.1945850\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"edd23ebe6cd17dcbd9139e2643324c9195a9e3e3\",\n         \"name\"
        : \"The Star\",\n         \"opening_hours\" : {\n            \"open_now\"
        : true\n         },\n         \"photos\" : [\n            {\n               \"height\"
        : 645,\n               \"html_attributions\" : [],\n               \"photo_reference\"
        : \"CnRnAAAAtYT_Usf-XJsGHh-Kho-a4KkLqUW46MiUZCCYyQQMiF2P2cckhCkou3ZSox1oOVDUWupi7We33h_W0QtN4jf1RkhC5KW1aXJ5dyiSN2_iTljuPC_aN6gqLEuIklmkp8VgnmuqNY6fN9-feKqyBxYlzRIQuBFGzWeFVnPy-UYfgitt_BoU2zJ-OwwdPo_3IETwfnilEzDYJQs\",\n
        \              \"width\" : 1024\n            }\n         ],\n         \"rating\"
        : 4.20,\n         \"reference\" : \"CpQBhgAAAMQ7eHsAd1m1Mu2CoFGkzsAtBBz7mExcqHpljgKVfC38wYOB-xHRboRBny5_do9JV6Dfj10to1becIaDVkDblPBxNQqdLOoHZDn83UpgemVwYI2IrSUPy8o8fE3xLDANr0wcwZyn9k9FP8VRLJt14tI8LexyXrAHvUAPRcAZNw6usYjevQ9l3ItCIOJTL6uScRIQb42agYnZO5D9ZG1jCew3nxoUeUm6OSeWPUtv7GXZLjTpTFOIcbc\",\n
        \        \"types\" : [ \"restaurant\", \"lodging\", \"food\", \"casino\",
        \"establishment\" ],\n         \"vicinity\" : \"80[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=CmRcAAAA2-iSPmz4u6rZN65GxmN4Eq5lhVt1mxr7comh0OZ6131o-ehdZ1EHQ05dLIRMnjZUzempah6GOT61Lbw3jq9OkCZDv2BYngypJ2Vqc76pMpPcWk5wT7dWQtZ_jESRVoXnEhARjItx5zrr2hb428793gCMGhSEjJE4W5s1adP_9ZeEa-JCGD0asA&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      con[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=CmRcAAAAYlRl1P1hJsslcDq-idYT2trDlWXngMGpWp1H3SlriGSU45CTX8P1VPfCTrMfEdT2BXxM7mhETam6rQLaiT1KAtToNaiTxxI6G2n3m3HBEVPA20kpV4aiihRBrk3FL4d8EhAPEiIny_PK4gWilX7G386FGhQuLK4JyOb2dyHbqCIqXmJXf7Sk8A&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      con[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=CmRcAAAAvxRPTVPEo2_0XNQSxRpiLnFKaiYaryuhHapi9zSr5E3Esqhmt9JxMzwK4sXDtM5s5QMCRCRWHO5WCMuQklhnxYehT5ipZgGSK88pxxn9hdYmbpz2QZuUwJYb8XZ7mYHKEhCpZ9l_RICfzxwBJqHZdePxGhTMcfUCYr7UXiQePtR64OXQSUhcpg&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=CmRcAAAA0UN6c0CeGdX2yiwYv4G2PgaRtJQA_baGQVVBsLK5ZIpN7j8mSl2NZmNkSQhIpSrFfgV2JP42eQkZvi5HdYtR3Xz-SaBihUZlUy1e5GpfwU4V5da2BjedHdbF4ggWzyIlEhBx1YcwDk4vPN83Hvd5iM8sGhQCFooIjav90KMMRGweA_RT6q2YWA&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=abc123&name=&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:54 GMT
recorded_with: VCR 2.2.5
