---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: US-ASCII
      string: |
        {
           "predictions" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 28 Feb 2014 14:24:17 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&key=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: US-ASCII
      string: |
        {
           "predictions" : [
              {
                 "description" : "Query Tom LPC, Old Roswell Lakes Parkway, Roswell, GA, United States",
                 "id" : "7298c121d5c7078d61ef2615b3bddf48d48deb35",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "reference" : "CmRTAAAAY2DWFTLIpwtBGTt94gOr3kd5AjS9KDpwWYyFPYK-feRCCZWuBTkw6X-sKQVYE2YOqNZcbz3raatOaqdfFIoHWsHmbIKo9pgi4zo7hQM88HPtazcQ3nlXlBAmnaqt0N9VEhBrafsrusT0e5bk4kTFxkv2GhSsiuejhMmnTadKBzCqSmo1XK3zGw",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "Query Tom LPC"
                    },
                    {
                       "offset" : 15,
                       "value" : "Old Roswell Lakes Parkway"
                    },
                    {
                       "offset" : 42,
                       "value" : "Roswell"
                    },
                    {
                       "offset" : 51,
                       "value" : "GA"
                    },
                    {
                       "offset" : 55,
                       "value" : "United States"
                    }
                 ],
                 "types" : [ "establishment" ]
              },
              {
                 "description" : "Query Street, New Bedford, MA, United States",
                 "id" : "7ec01a04e7ff7a326e0de7e787c5fd03de916371",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "reference" : "CjQwAAAAmxA5br5rwSM9m5lbch9NrRt4vkRzPgbSvpN_7gKVOstGG-MK4XK6eDYtYWmOvCEjEhAEy4XBgPhiXg[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&key=AIzaSyATDpXAyvequDQBzYjHucOXGEn7fXtikVo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
              {
                 "description" : "Queryable Corporation, 5th Street, San Francisco, CA, United States",
                 "id" : "d6c6617e22aec493f3476b1fb3cf8be56a43ed98",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJMW0rboCAhYARJ4wb2742Aog",
                 "reference" : "CmRSAAAAJrVq9MEffCoF9FbTMzoMyWCoyBPKMHXKYdgKGUIMSHbNGecdDe4FkH3lB7H-amz6Ftq7tlum50Go0oqjdm9rYnIDNWkKzzrt0S1Exw9jHvlHyDac9HbTn0YpzNV2IilUEhA0G9g-427F7IoIdSlFwRMoGhTRECeBBv9AyCTnBUiHCZGY2S6lRw",
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "Queryable Corporation"
                    },
                    {
                       "offset" : 23,
               [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&key=AIzaSyCJ0NiNmva8TTlxDoU-BWvxW27zGAichFk
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "predictions" : [
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "predictions" : [
              {
                 "description" : "Query Str[...]
