---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CpQCCwEAAIJ7G_0iUsp5k7bfXDsUHbt4Vl3bIkrVbowBw_gmpStKCd0hpjo81PQnqZkip9jJWdeLDpKKOPsKDu74t-lNkoJRBntfH59BGjjPUJfqHj81bqVqYjAvkYTHzN8IwNhC0ytCrwpjCh8HtEkz4Pf5OSpwcbb000IUhZlhTQ6wYDbSaS4OkE5Tx0KUWAhWuxBwU82FjwtNvkxk1H3dEOsKVN-L5fWHlaZ0QPt66GjLV3GqXQO5fNiXrcCjaeEsAD5y9q7zVIbWDqoZZq2DGVsvJ3_m_96dfQNh59h4T1bI8CefFOaEAkEALTic9nVMmUZK8U1OPOs7hiF6rNoN6VOUtgQOKd2JYSR6-kg0t2ojmPh_EhALv43i1_rexYePgkYPEdjeGhR7WmS3WolO2x3ooTJVGoPiPEBmmA",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868111,
                       "lng" : 151.195219
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.868011,
                          "lng" : 151.19567405
                       },
                       "southwest" : {
                          "lat" : -33.868411,
                          "lng" : 151.19385385
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
                 "id" : "461d123aeb1c1648abdd5e535989d2bc518cf28e",
                 "name" : "Astral Tower & Residences",
                 "photos" : [
                    {
                       "height" : 645,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/106711896502688882221/photos\"\u003eAstral Tower &amp; Residences\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAACkjM62LN4p7WN1QT42Vc5W7ro9LK7IG-Izpr695qUBpUQG2lkIagarNpYYpLGgybfiGlqkqY0UotHg03kDOx1BQ_UKj12vHftj-WgzOfZKJA7kIeylMEeyCbYQozLFPHTrd7oOFGigHuPEVB8uqnjJc2xUzxqxSXLH1Mnk-JwOtEhBC8S2NPYy-OTKarbo0EQmRGhQB4FLO4xr7YI87KReJ1TT6hjvj5g",
                       "width" : 1024
                    }
                 ],
                 "place_id" : "ChIJq6qq6jauEmsR46KYci7M5Jc",
                 "rating" : 4.2,
                 "reference" : "CmRSAAAAm0QGtc2qKF1lgS1DScByOgmkkuw94hZ2IBJo5F_fR0TKD50kHysV9YhC628pTRsE_u6JlPWUXmbVuCX0DCwPDQzbZyNfbcnkt8dtq7gHQX-V4aOfU9mUmN38T3h2wTnvEhB1R0o4B0nNL8MQn7vD6UJJGhTvR_lcUE7OZf4SbzEtb7OOW53WKw",
                 "scope" : "GOOGLE",
                 "types" : [ "lodging", "point_of_interest", "establishment" ],
                 "vicinity" : "80 Pyrmont Street, Sydney"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86799999999999,
                       "lng" : 151.195
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86779065,
                          "lng" : 151.19531415
                       },
                       "southwest" : {
                          "lat" : -33.86862805,
                          "lng" : 151.19405755
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "0761a21e23eda2598330d428413cb59431316a61",
                 "name" : "Lobby Lounge",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 816,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/110208511255995075770/photos\"\u003eJonathan O&#39;Brien\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBcwAAAOYwVDBAX3bBjI4LROkJhdqoZ4QXFWbwfS--YhD5Bmw7ZiaMg0P_46cK4bVW6bXZjhd7bjlfPxVKVNAmkA8KFbFc7uYPql4QTGS4uSSuMXL4u[...]
