---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&sensor=false&types=cafe&name=&keyword=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [\n      \"Listings by \\u003ca href=\\\"http://www.yellowpages.com.au/\\\"\\u003eYellow
        Pages\\u003c/a\\u003e\"\n   ],\n   \"results\" : [\n      {\n         \"geometry\"
        : {\n            \"location\" : {\n               \"lat\" : -33.86820,\n               \"lng\"
        : 151.1945860\n            }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"a6e36e20e63dfff2f8d5ef4dfa7c55f2c32d524c\",\n         \"name\"
        : \"Adriano Zumbo\",\n         \"rating\" : 3.80,\n         \"reference\"
        : \"CnRrAAAA3TcAtehESEdWGmFSmagWDupKZYLv0vP9iDKCzAPcp6y93BLHKuDYiF4BPHvLAV9WOzmFrc39EOkSI7e-Lv5LucTzJjfMdx6l-WoI0lMuRW38BHao6lfTky05Khqy35Li50vI5QgURqLRYRqLLmpAfxIQ3Z0IYhjCifbu-ygeGcKcyRoU21_tkLdBLNRfym3lO824RMCnjkU\",\n
        \        \"types\" : [ \"bakery\", \"store\", \"cafe\", \"food\", \"establishment\"
        ],\n         \"vicinity\" : \"Shop 1, Cafe Court The Star/80 Pyrmont Street,
        Pyrmont\"\n      },\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.8675480,\n               \"lng\" : 151.1955170\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png\",\n
        \        \"id\" : \"2722b46120160ec0a322e0a13cb0717ed41a696b\",\n         \"name\"
        : \"Biaggio\",\n         \"opening_hours\" : {\n            \"open_now\" :
        false\n         },\n         \"reference\" : \"CnRkAAAAb7LKxMxY5MdGDUpF3h_mH8rM9jUg0ipLSvCIyZdHUuSwK9B9glssBicSVuu2yGCCym8AnB8WIIB3ubA52Y7W3WLAgD1RN_otqLZfBj7jZumX75jwsvT7-MVnuEtbh3yDAA_qd1Kk209dKGWwsKB6XBIQAFKwevJBv8uN4kkjVBT6XRoUR-x-98frQiscRf_GJmqZWNDp0iU\",\n
        \        \"types\" : [ \"cafe\", \"food\", \"establishment\" ],\n         \"vicinity\"
        : \"48 Pirrama Road, Pyrmont\"\n      },\n      {\n         \"geometry\" :
        {\n            \"location\" : {\n        [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [\n      \"Listings by \\u003ca href=\\\"http://www.yellowpages.com.au/\\\"\\u003eYellow
        Pages\\u003c/a\\u003e\"\n   ],\n   \"results\" : [\n      {\n         \"geometry\"
        : {\n            \"location\" : {\n               \"lat\" : -33.867260,\n
        \              \"lng\" : 151.1958130\n            }\n         },\n         \"icon\"
        : \"http://maps.gstatic.com/mapfiles/place_api/icons/wine-71.png\",\n         \"id\"
        : \"7eaf747a3f6dc078868cd65efc8d3bc62fff77d7\",\n         \"name\" : \"Biaggio
        Cafe - Pyrmont\",\n         \"opening_hours\" : {\n            \"open_now\"
        : false\n         },\n         \"photos\" : [\n            {\n               \"height\"
        : 600,\n               \"html_attributions\" : [],\n               \"photo_reference\"
        : \"CoQBdwAAAAk9vBK-rvMrtu-CMld7p9R5HNEgUQdiykwd8QRMPxQ-s2ZK0iJoRLrITpcSztsD8CNCp_sQKohAkolvH0nyIgtolVH49hPXL23RWclbIC8Ua4NZnYmHvDWppTqlkcllrTLU3XoUxVhOJ-VSCqAAPkbKN7O0qyudRDxvIoCyaDAjEhBM2_V5PqWQHLlZICVs67ccGhS2GdpDBqH027tYRBRjRexoZ972vA\",\n
        \              \"width\" : 900\n            }\n         ],\n         \"reference\"
        : \"CpQBhgAAAPyFJV0pawWczpRWiiOv4EC7UtEpvmmu83UJWD6lv738EK3PCK1h07oM2UcYbsbcYWl0KV-1SB8vn7xxa4Iib_0caQ7NsHZTEE0x3yQfea-7LjxHPnt21PDn2mYbkoz6oxs-MARjVExpfjl6hyCUXk6fBNLruAGaHiFxL6ex5xRTamO23TiWdgPQhNTe94EA1xIQow2E_m34SIDOrMTp2xpsSxoUnStYPRR1RML7zmbnJbK4tG8e2Gc\",\n
        \        \"types\" : [\n            \"liquor_store\",\n            \"store\",\n
        \           \"cafe\",\n            \"restaurant\",\n            \"food\",\[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=abc123&name=&language=&keyword=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:54 GMT
recorded_with: VCR 2.2.5
