---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&location=-33.86705220,151.19573620&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CoQC9gAAAAM6nB6598sSf25GUv90hEcALO2H5ByPJoVEaj-ZBjN6-fU9QAlAuDB2YqI5p6VaOWf7a011yRnsBfD8NdtZnwZsHlB-tz6yIhaFn8PAwDERInuHN7Cqt_uTX2bSaLRMHdGQzXKojotamqoOY2eBdHQRfgwpIVNdX1V8GSOHUpuGmFlNyKW86VAT0C5JiAxN0g2H5XK-0cXCC6Va95vvrtkxe1y_aub9dXuc-bzDEnKMZ71g55CV3PMEjhiC5WreBtU0z1dv7qCrIosHM5ciqqwuuHF2dJpA_L5Sj1jK-IrGuyAMS-qy9m6R9--bURwGBGZsTOrHAifGoiXmMDHj1jISEPuFQ7XAMxqv4aQJv9hOOcEaFB23dqkO-Vb1s8B6r49lt906z_5b",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8688197,
                       "lng" : 151.2092955
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.5782519,
                          "lng" : 151.3429976
                       },
                       "southwest" : {
                          "lat" : -34.118328,
                          "lng" : 150.5209286
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "044785c67d3ee62545861361f8173af6c02f4fae",
                 "name" : "Sydney",
                 "photos" : [
                    {
                       "height" : 2448,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/101793126109209980882/photos\"\u003eHatim Ghadhban Abood\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAAObh8-dsxJCSPKn99imZWh92ankpJLcKOFdf9n7yNCcju3G1vDydKMM8Tf_MqmECQa635qigb91ubn1W63CbKKommeWjS8ZRGvYTCqboCJ4Y9I6HQ2Wkxqt9RJKA_ubg4GsLD6wd13XFYCjH-BaO_vjPxHMolPeRGSTg2ssn5JkhEhBrHGwtXDt8zqbwTQ9dWGMdGhTFtIzknE4pVhdnLvIis0FbQhpHnQ",
                       "width" : 3264
                    }
                 ],
                 "place_id" : "ChIJP3Sa8ziYEmsRUKgyFmh9AQM",
                 "reference" : "CmRbAAAAZgSw3HzMaBAr_g0PGraqx6rvfCWLrhavv8HvrD03nveyW-Y4fosadeAWAIOSP5MHSuG0_bGpaRPRdriBSu6tSb2KFrOgqHGloSxbyPG-gmB19KTSdmeJmgHokjPCIvzZEhDe9w3uinzAFAFMxlt3fTcCGhTpGoi2a2CzmlUPA8x5uGR19TLQfA",
                 "scope" : "GOOGLE",
                 "types" : [ "colloquial_area", "locality", "political" ],
                 "vicinity" : "Sydney"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868111,
                       "lng" : 151.195219
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.868011,
                          "lng" : 151.19567405
                       },
                       "southwest" : {
                          "lat" : -33.868411,
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Tue, 07 Feb 2017 16:15:58 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&query=Statue%20of%20liberty,%20New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "New York, NY, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.6892494,
                       "lng" : -74.04450039999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.71823,
                          "lng" : -73.99872490000001
                       },
                       "southwest" : {
                          "lat" : 40.6795892,
                          "lng" : -74.05975889999998
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png",
                 "id" : "5a0d7e67078e35af0c456a277df9ffba7c1e4da6",
                 "name" : "Statue of Liberty National Monument",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 3464,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/102603982411260017180/photos\"\u003eLauren\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAADTYYFkQSN0ozXJgnxESYqZ5-7HVZgGywruOt0TK2a2X4jK-N0zldtE3AckXR3XzuX9GZhKvps14nWwP1hg5FS0kIn9N3Ibet2Hx0Y8k47X64ae9Ilge1qOgbSC0R9_S3e3Gw1n3I9O8ChhMIbOe9yCBsNFAgtOMHqo9UIJTD4VEEhAK2hk9MT0rSj72wYjNbt2lGhT6ld0QDkB8I69o32EZdsYh7P_G2Q",
                       "width" : 4618
                    }
                 ],
                 "place_id" : "ChIJPTacEpBQwokRKwIlDXelxkA",
                 "rating" : 4.5,
                 "reference" : "CmRRAAAA9-Qf_jdmxGW-RZHtwqvg4PsYCnR6d9LKRfk7lmBK-2eDGWDK-Yyc8cU6keAHFwuFGE-SwBqC4-sefqhQV96WNJB6zZpkJ4VhinqDSIN3Gl61igU7FVVhie9AZDF_03auEhAvVQB28o1mTJ_oJrTSheXWGhT179I1KrRaZZBZqjhI-DNNHGfPag",
                 "types" : [ "park", "point_of_interest", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 07 Feb 2017 16:16:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Tue, 07 Feb 2017 16:16:04 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attr[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&language=&query=Statue%20of%20liberty,%20New%20York&rankby=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
     [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&language=&query=Statue%20of%20liberty,%20New%20York&rankby=&region=ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" :[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&language=&query=Statue%20of%20liberty,%20New%20York&rankby=&region=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" :[...]
