---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86799999999999,
                       "lng" : 151.195
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86779065,
                          "lng" : 151.19531415
                       },
                       "southwest" : {
                          "lat" : -33.86862805,
                          "lng" : 151.19405755
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "0761a21e23eda2598330d428413cb59431316a61",
                 "name" : "Lobby Lounge",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 816,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/110208511255995075770/photos\"\u003eJonathan O&#39;Brien\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBcwAAAAxfCdhqJHgmKqs1IcKf4FeWDJiTHMBciQzGxdvJ0RP1padv7Qm5wZ1DAPf9seiv01DRA5R40h74C2olkZoKpAy_93Ek-5Zym7FAJcVuWACNi6bMcOiY8gguzYS6eMrEeqq_BLBGk1a34IW5-C2Kt4S1THO52ogXANYbpD6GEIzMEhC-arNJls63ug-0NCzYbabmGhSuidX7kH49qgkROBZT360P3o3-Aw",
                       "width" : 488
                    }
                 ],
                 "place_id" : "ChIJ1-v38TauEmsRHbUt24abGq8",
                 "rating" : 3.9,
                 "reference" : "CmRSAAAAReOJrLPOEAO_oikyauJspz76o3XCvzgI1ad9HzYX61vdvmehrcAR_DzXchQL_U4JflhFYDx5mmq6gIGtqZ1T67TbnqSisDv7mp4f3wqGGwmm2WjsjJc3hSfv3U5drs-SEhDnMZmbyHCaB1X-SfNX9ZGrGhRcago94ygeBh6ZaJwNDBvlA_bcag",
                 "scope" : "GOOGLE",
                 "types" : [ "cafe", "food", "store", "point_of_interest", "establishment" ],
                 "vicinity" : "80 Pyrmont Street, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8683385,
                       "lng" : 151.1954624
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.8677086,
                          "lng" : 151.195688
                       },
                       "southwest" : {
                          "la[...]
