---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&sensor=false&types=food%7Cestablishment&name=italian&keyword=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [\n      \"Listings by \\u003ca href=\\\"http://www.yellowpages.com.au/\\\"\\u003eYellow
        Pages\\u003c/a\\u003e\"\n   ],\n   \"results\" : [\n      {\n         \"geometry\"
        : {\n            \"location\" : {\n               \"lat\" : -33.8666690,\n
        \              \"lng\" : 151.1922820\n            }\n         },\n         \"icon\"
        : \"http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png\",\n
        \        \"id\" : \"954a594077141a5f37fa1fb4340988bada9a93f0\",\n         \"name\"
        : \"Raffinato Italian Restaurant\",\n         \"reference\" : \"CoQBewAAAAa1LEKw4ZEH7YFpMUwPeZNUWxli0xqwnEBQjqVnroC9Q-oIUWg7j7pDvckKSNN1Kj8LpL2OhLZnUEo7de2oHDeTRhpfPUanzItigDBuxzY2D1joXcLb0XH9p0UD8HknzBRwu4vnrIEfY4BWpcoJs5g2KgAlfwwi9PaPoGgrFV3XEhBDD1RWBMqa1dbtiFi60CMIGhRBhD3W0AeNRrMmRqbSnGsiuzR0_A\",\n
        \        \"types\" : [ \"establishment\" ],\n         \"vicinity\" : \"46
        Harris Street, Pyrmont\"\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Sat, 14 Jul 2012 04:45:15 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=italian&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      stri[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=italian&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASC[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=abc123&name=italian&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:55 GMT
recorded_with: VCR 2.2.5
