---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=attractions&location=-33.86705220,151.19573620&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86766899999999,
                       "lng" : 151.198098
                    }
                 },
                 "id" : "4350104e7c0197a9cbd769782e0509cd76623fc7",
                 "place_id" : "ChIJVVUVkTeuEmsREx6jD41IUGw",
                 "reference" : "CmRRAAAA51jdm0kl77s8ERw2Kyez9HVeV9PL_EHNExwv2zYlRm2swDrE1nO9xAB5iwPbVQjyib1MXb9ueetMf2IiER4HHSYKpUFG4NFG7pNipqCaglKxUvfN5WiT1AmKubZuVxo1EhBp_5qkV1cf8mDjLGtIu0MAGhSMWbmWDdciyb6GykKAPKoLa6ucuA"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86812,
                       "lng" : 151.1969113
                    }
                 },
                 "id" : "e5a0f70cb82239bfa4b648b7c70326c93d8ce2a3",
                 "place_id" : "ChIJGc4QODauEmsRPyDYYycA4Yg",
                 "reference" : "CmRSAAAAm-UfjnhqYLbM8xrnn3YSSnpl_YPcV_5bX1Jp-f19Q3YG23CwoQnye095Sd4uVmI14qpRu_qpieJ3BBuKEFs5hy5Fhku2aNjCRl2bH7rUNoa_ACi4_0_LPr292R3F9GD1EhC8NycyoNoJURGwGuFwIeSwGhSfwePu0Duw6z9gleMhw5vkM1Wr8A"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8685682,
                       "lng" : 151.1962433
                    }
                 },
                 "id" : "172b11b0164ac9ae1f16c6802ed759445f6eacb7",
                 "place_id" : "ChIJ1-v38TauEmsRxXV8BJ53Fq4",
                 "reference" : "CmRSAAAACW_6CmhmkiwR34f2n4zjNy3WxZNCtBupcvNEOCGBw_eTWJKbbhRK1jYEf2Q66F8QQN0UQH-ln3QBrmpoPi5OkRchkCHt1WRrW4iZS0bIH_xHyt9IiI0RlUCCSIW2VXpEEhAOLYS-VRz2brf3oA3BK0quGhTGRDO7hlwaGIU0RJZAgFk-4hTkWw"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 06 Feb 2017 22:00:28 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&location=-33.86705220,151.19573620&name=park&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8670236,
                       "lng" : 151.1958671
                    }
                 },
                 "id" : "27e84d1acda19c14b9c7f5271242796891bc9c9e",
                 "place_id" : "ChIJ5xQ7szeuEmsR7xYE6_PLHlI",
                 "reference" : "CmRRAAAANQ8EBdzBiro3WjHa69DrGSQUzZzjCdqVZuRAIGoaHfy9N-PmkZimvgAIYpeTV8Mh7Qd4WAdjbqbb5lGrGlvDZPHfF5bWY3r6iMZI3Lp-YU7OxKOKaCnU_wFlwblg6Y42EhCw9VnmKxKp5IIe0p1ThdQUGhQKCqQuZrC0KDbzIhLubsNBxkZY7A"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 06 Feb 2017 22:00:29 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&location=-33.86705220,151.19573620&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Mon, 06 Feb 2017 22:00:29 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=attractions&location=48.85670000,2.35080000&name=&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 48.85806849999999,
                       "lng" : 2.3489072
                    }
                 },
                 "id" : "9d83b4e7650b36af51055d757acf90618b83582d",
                 "place_id" : "ChIJGxZyXh5u5kcRLmPA07LoheA",
                 "reference" : "CmRSAAAAdmdtDC4zR6EGBPzES5Mu5Pa2QrYwmaz2ZggbNVCyg4XyjeBLSjKPCcZiXPMEUYWVQWI0GBo8VzVbBKdWTe0CWLZURSPEx9D1FGLmYn-EuB0n5BM9BMsuO51nNrZj6QWNEhAydaZAmW1IpqbLTmwOFvH1GhSVZ6VqDNVC4zBauRsuUoL2c2_cgw"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 06 Feb 2017 22:00:48 GMT
recorded_with: VCR 2.9.3
