---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&name=italian&keyword=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [
              "Listings by \u003ca href=\"http://www.yellowpages.com.au/\"\u003eYellow Pages\u003c/a\u003e"
           ],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8666690,
                       "lng" : 151.1922820
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "954a594077141a5f37fa1fb4340988bada9a93f0",
                 "name" : "Raffinato Italian Restaurant",
                 "reference" : "CoQBewAAAG4unfkYAClRutEKNO3rDhTyxUA9eLndykaGS7fgv6SMW2v_oBLO9y2L85PypdEqQakwEUq77Ilg5iH4npiL3SImdKVZiSEm1kuQ90aczlPCSeqNVtRe8aTU5R_QQ2SOMm951YnTGoH7P6_g9uEcGxblNbmB-r1THh0_tgTFXZbIEhB-FHwnlZYUlVIff9oVKUJHGhQ1roaNmXtQudL_pfUObI05ueEgHg",
                 "types" : [ "establishment" ],
                 "vicinity" : "46 Harris Street, Pyrmont"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 14 Jul 2012 04:45:14 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=italian&language=&keyword=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "html_attribu[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&rankby=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=italian&language=&keyword=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&rankby=&key=abc123&name=italian&language=&keyword=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 22 Mar 2013 10:47:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&keyword=&language=&location=-33.86705220,151.19573620&name=italian&radius=200&rankby=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.866669,
                       "lng" : 151.192282
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "954a594077141a5f37fa1fb4340988bada9a93f0",
                 "name" : "Raffinato Italian Restaurant",
                 "place_id" : "ChIJIRtr0TWuEmsRq_tQAbxShPg",
                 "reference" : "CoQBfgAAAIEIwzS4FNkjpUOy6mxMSLU_k0KDRJjdiK0RJ4e0XMYPjfTrK5COg_GLRVU9YloAtD6T0rMuUsknQr3Bjqz6t28EdUihB7MwtAEJMErGuotMaYQfoUZqQl-neuw2b4hsTcnGxAfBAiNcvxfCHmw21_lpPdi8lYMdyJNCPKv-LBZFEhBVsiCmScM8FrtJSUxZ4U6AGhT5Imkyhj8YQAUpIjVyW7NdhIdOpw",
                 "scope" : "GOOGLE",
                 "types" : [ "restaurant", "food", "establishment" ],
                 "vicinity" : "46 Harris St, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86771,
                       "lng" : 151.191917
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "2e2a9c116f1110a816d6f78585018c73663218d4",
                 "name" : "Italian Kitchen Express",
                 "place_id" : "ChIJN97jOjSuEmsRQN_2Q36vGbY",
                 "reference" : "CoQBeQAAALzh5QCAwvjCQyb3h8Hwi4VzrmIlO9DWPM1CHex-SRAH7VLUqneINcd08h2FYH6STHuL99UWjuz_BPUrdeOYd0thLfhaCc3a6q7h1AEjPxtQwyHAbGYEjwEO8Lv2m5NFpBMEIknFe7pnTU7zDQTgVLuX9qYwzTl5X4rVo4kafz4DEhADITz2kSR3TGf5DYMhyFxtGhQzZIavhUI_i-w48066BmItmvFdfQ",
                 "scope" : "GOOGLE",
                 "types" : [ "restaurant", "home_goods_store", "store", "food", "establishment" ],
                 "vicinity" : "6/45-55 Harris St, Pyrmont"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 21 Jul 2014 11:28:59 GMT
recorded_with: VCR 2.9.2
