---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [\n      \"Listings by \\u003ca href=\\\"http://www.yellowpages.com.au/\\\"\\u003eYellow
        Pages\\u003c/a\\u003e\"\n   ],\n   \"next_page_token\" : \"ClREAAAA0QxV4wJZwt3afv-DAT7n42FGs7x-XbKyb9BkN_yzti-MtwDSQM4ni6_CILKm8fVra8j9m9vxOzr-NFSuhcbFycfDhT_Z_ESguoeY35cG_N0SEJWNkFmkMoUC21L2Hq6eebgaFLR1j5aLkdVyTHJJj93JxDdxFjpb\",\n
        \  \"results\" : [\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.86954560,\n               \"lng\" : 151.19454040\n
        \           },\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : -33.86028050,\n                  \"lng\"
        : 151.21054780\n               },\n               \"southwest\" : {\n                  \"lat\"
        : -33.87880970,\n                  \"lng\" : 151.1785330\n               }\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png\",\n
        \        \"id\" : \"40840d476baa531e0227a353b1bef70262f66e7e\",\n         \"name\"
        : \"Pyrmont\",\n         \"reference\" : \"CnRvAAAAbGLAQs6LIUXg9xPkr9s2fjtJdiDDIcEpV5QjXsl-zBkq9T8tagX2mGvulrfhry8WCGc3xKC-w91DxC34Q9RhHoYrVN62ByaU3HjD8cSOLx9GnNDMS6C5xW3F28jmvdm5-b_l1bcBrvm4NX9n5tl8XxIQ8uXhf4ywp0G4M5qD8LXIHxoUy8KRoHGU-YSXqY7D94WU6Jhr5DY\",\n
        \        \"types\" : [ \"locality\", \"political\" ],\n         \"vicinity\"
        : \"Pyrmont\"\n      },\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.8681990,\n               \"lng\" : 151.1945850\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png\",\n
        \        \"id\" : \"edd23ebe6cd17dcbd9139e2643324c9195a9e3e3\",\n         \"name\"
        : \"The Star\",\n         \"opening_hours\" : {\n            \"open_now\"
        : false\n         },\n         \"rating\" : 4.10,\n         \"reference\"
        : \"CnRmAAAAPAt87n5r2MGzdNYZ-BJ5BPe2SjyS1TT4XmabgWaZLfk2_QHXpZiSIPsNVmDvOVAFEqMzVBy_EbgFGjL-WXewBSTwYWbJyh-w5qOiK6KzsdxWx-4lBlDkcSKnWcV40vVeHEZrQ43zVM15TSV2ffZbfRIQbusnh-f94O310mHga7cIYRoUj5Mj0WxUUIvjgsLwpN_yaHsd8PM\",\n
        \        \"types\" : [ \"night_club\", \"bar\", \"restaurant\", \"lodging\",
        \"food\", \"establishment\" ],\n         \"vicinity\" : \"80 Pyrmont Street,
        Pyrmont\"\n      },\n      {\n         \"geometry\" : {\n     [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Sat, 14 Jul 2012 04:44:48 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"INVALID_REQUEST\"\n}\n"
  recorded_at: Sat, 14 Jul 2012 04:44:49 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?query=Statue%20of%20liberty%2C%20New%20York&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [\n      {\n
        \        \"formatted_address\" : \"Liberty Island, New York, NY, United States\",\n
        \        \"geometry\" : {\n            \"location\" : {\n               \"lat\"
        : 40.6902060,\n               \"lng\" : -74.0454670\n            }\n         },\n
        \        \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png\",\n
        \        \"id\" : \"b4e43a0891cbc6584f49c1d48b6dd6fb67d3e733\",\n         \"name\"
        : \"Statue of Liberty\",\n         \"rating\" : 4.70,\n         \"reference\"
        : \"CnRvAAAA5iCAT_iA2Ii2Yqb6s9J-ye1Nu28oFtL2UVKhANBF2jQOnjgHN4-X8HWHKssRVPqtmMi7-orh-_PwpPYEfva0NAYqeBh325oL9NvpHXLKDzjIO7wVHX1JSFHogfqHBLChIyF6URzSiGESHhaxowRu3hIQPYV0lVYvFpKI_PKBkLxEwBoUaVcd-DSF_SkKhC0GmDUHJSpZ6R4\",\n
        \        \"types\" : [ \"park\", \"establishment\" ]\n      }\n   ],\n   \"status\"
        : \"OK\"\n}\n"
  recorded_at: Sat, 14 Jul 2012 04:44:56 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?query=Statue%20of%20liberty%2C%20New%20York&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Sat, 14 Jul 2012 04:44:56 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"INVALID_REQUEST\"\n}\n"
  recorded_at: Sat, 14 Jul 2012 04:44:57 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&sensor=false&name=&keyword=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [\n      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?query=Statue%20of%20liberty%2C%20New%20York&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [\n      {\n
        \        \"formatted_address\" : \"Liberty Island, New York, NY, United States\",\n
        \        \"geometry\" : {\n            \"location\" : {\n               \"lat\"
        : 40.6902060,\n               \"lng\" : -74.0454670\n            }\n         },\n
        \        \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png\",\n
        \        \"id\" : \"b4e43a0891cbc6584f49c1d48b6dd6fb67d3e733\",\n         \"name\"
        : \"Statue of Liberty\",\n         \"rating\" : 4.70,\n         \"reference\"
        : \"CnRwAAAAQKHKLYDxw2cLb149D4spI_SLhzKB7KHjnfin0MMtS4gDP9rEm_gVqnOMpOycpWN3hUDrfP54FfwzMFVpVbtafnkL2SMjuXLPBHimQYY6v8xz4nsr2PN9XXxlpzFzf7vaJ4uRp9qVtVowCz3aCZiCkxIQdYVfNQ7_i-2si9R5NWHZFRoUNDg9x_j_Bx7lJtb31qVCJj2wGjg\",\n
        \        \"types\" : [ \"park\", \"establishment\" ]\n      }\n   ],\n   \"status\"
        : \"OK\"\n}\n"
  recorded_at: Sat, 14 Jul 2012 04:45:16 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"next_page_to[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Mon, 03 Dec 2012 14:32:06 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=200&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"INVALID_REQUEST\"\n}\n"
  recorded_at: Mon, 03 Dec 2012 14:32:06 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\"[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=ClRHAAAAEM4cmwyme55o9GXCxgIfQeIbznR3pVPcjWps0HC0CNQjQOvVDfcQuIxG8jHpIUCZhN6mpvH05Hou-LmEQzBbWnIRu0uyM0Kr2HRD1mTQCJESEKZD1TO080qBuKXK3IpWj-caFLwPUnGSn3bx_ZCp4PAV-N9v2A0t&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - app[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=ClRHAAAAXjdHsnCmEfnqyddAsU3EE0ff8IYC_wNVl2RIUPo-FMMyuexYx-T0Oc_mAmjvWbJYzIDUGH0zNCLycsPGP5xmDghavlq2dWqhP3E2GT76SnMSEEA6zBkUay8qG0NG2spQsj0aFHCgm6BqK40hS79s_dZc3DlLIICp&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [\n      \"Listings by \\u003ca href=\\\"http://www.yellowpages.com.au/\\\"\\u003eYellow
        Pages\\u003c/a\\u003e\"\n   ],\n   \"results\" : [\n      {\n         \"geometry\"
        : {\n            \"location\" : {\n               \"lat\" : -33.8653460,\n
        \              \"lng\" : 151.1943010\n            }\n         },\n         \"icon\"
        : \"http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png\",\n
        \        \"id\" : \"151958c1816f1ce7f4c8022325792513fba50743\",\n         \"name\"
        : \"Kookaburra Sailing School\",\n         \"opening_hours\" : {\n            \"open_now\"
        : false\n         },\n         \"photos\" : [\n            {\n               \"height\"
        : 426,\n               \"html_attributions\" : [],\n               \"photo_reference\"
        : \"CoQBeAAAAIUFd8VhY-M9chp91tx6vVsVIEdssTROWpEbSxoCX9UaNJMPY5ZzhsLb-0eohgng1ER94Nk5kRTOPvEzPA8U13chRsk43j-yU9j4v_HpaXsFw0j2Ud_l_KIGI0h3DLcOZfe0miAZPW_j0vRF98qLcOGYVMCb7iO3IpJ4xzvVpwsHEhBs9HZH0vj_bDP8XeM8NjybGhR7nS_f06vHuh7tgnHvXWfZRs5LVA\",\n
        \              \"width\" : 568\n            }\n         ],\n         \"reference\"
        : \"CpQBhQAAAKwwZowz9W9WOUNsamBCpuYgUL3Oyytr-hcRcc211XHiNelJT5b2RDOwjPxQn2bJzATk8fOy9qoviVkMXFCus4bX0JVqpkDv0d-OE-H4UlhdYF5vFG52ClrCrk0frw6bRQR8JhyvivwFCgeSe0r9jLgiODV4LvtEgH02czaGiw3Oumv14BiN4ACT92QSAm7RxhIQhcuTSsniv7ppPYs8WnLXEBoUSSStYkI6DUMHgLtmADSdbOToudc\",\n
        \        \"types\" : [ \"school\", \"establishment\" ],\n         \"vicinity\"
        : \"17 Pirrama Road, Pyrmont\"\n      },\n      {\n         \"geometry\" :
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_a[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?query=Statue%20of%20liberty%2C%20New%20York&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&rankby=&language=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=ClRHAAAAgSGY1WX1Gy3Ng8_QG0Xp0hT6O40qXEnXkrG0oyIEx42fcL5jshmfG4AlfOMH17RCoBGb_25jPZRVw7IBcvbV8sW2kL0zyGAFnuO_BoxQMgQSEJuP7DfAaqupsg2vsSMEq3AaFNkUfFDa71RAyjDUJ0ZX-PL1zqWU&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=ClRHAAAAAEeLDwkc2EqSFoUmEKUzhplKZOCK_SOPWIQTWYd3zAxzuNcj5b86yZLd1PHobiVXH1aH9yg2xVLLAEXM7MsuShDH7NB-HKpj_F9vMfIYre8SECtI0EaQUH9VQhNGcY4aOq4aFJsgC6Kaon8qeMqE5gXaDoyIMScn&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&key=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&key=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=200&sensor=false&key=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?query=Statue%20of%20liberty%2C%20New%20York&sensor=false&key=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?query=Statue%20of%20liberty%2C%20New%20York&key=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?sensor=false&key=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=abc123&name=&language=&keyword=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:54 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?query=Statue%20of%20liberty%2C%20New%20York&sensor=false&key=abc123&rankby=&language=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:55 GMT
recorded_with: VCR 2.2.5
