---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=28.38523770,-81.56606800&name=&radius=1000&rankby=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 28.3886186,
                       "lng" : -81.5659069
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.4320831,
                          "lng" : -81.5317951
                       },
                       "southwest" : {
                          "lat" : 28.332787,
                          "lng" : -81.6153959
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "69d8ab2582516ccf84c34e63aac9c2615dab6da4",
                 "name" : "Bay Lake",
                 "photos" : [
                    {
                       "height" : 2322,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/104767648521029462370/photos\"\u003eJovan Labban\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAAD9Hb9sJ_XreP-hNHUNGtW1ZtFcWe00IzH8BXNWSmxiyWMlNVcQ5yyUEQ7EDpvLt-LJ4jdnuxYViNDrRabxuUMgklaSrdCv6JCP-dQqD5RzbO_Ly7oH5v_bZTfWQQ7PEsw-Zt_cxPanPng_c1ubKRmLuanflDuP-ze6gJaiW3xekEhDppLuC1vfs10P4-dOR5_0TGhSQJ-CPHUXgi3FsP346z1zhwvFj-Q",
                       "width" : 4128
                    }
                 ],
                 "place_id" : "ChIJE2Qhhjh-3YgRssMv4oAliTY",
                 "reference" : "CmRbAAAAFOoywYx_6GGUfI6YbiHB_D4FMQw4y11hYe1GawM3VXqpQDuaf2NbvOiiSAfSinjcF3ylV5pzo6tF3_XVFROfjPGLRYTCulExBMwYCksz_rMz9cBifkXtF-y6WjxzMqWjEhBa2CxuQFeWb5V59ymKko5YGhTyEfUw5R-tD75ia0EBpBGu4CvVhg",
                 "scope" : "GOOGLE",
                 "types" : [ "locality", "political" ],
                 "vicinity" : "Bay Lake"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 28.385233,
                       "lng" : -81.563874
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 28.4054601,
                          "lng" : -81.45754595
                       },
                       "southwest" : {
                          "lat" : 28.324551700000[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&language=&placeid=ChIJE2Qhhjh-3YgRssMv4oAliTY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "Bay Lake",
                    "short_name" : "Bay Lake",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "Orange County",
                    "short_name" : "Orange County",
                    "types" : [ "administrative_area_level_2", "political" ]
                 },
                 {
                    "long_name" : "Florida",
                    "short_name" : "FL",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"locality\"\u003eBay Lake\u003c/span\u003e, \u003cspan class=\"region\"\u003eFL\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUSA\u003c/span\u003e",
              "formatted_address" : "Bay Lake, FL, USA",
              "geometry" : {
                 "location" : {
                    "lat" : 28.3886186,
                    "lng" : -81.5659069
                 },
                 "viewport" : {
                    "northeast" : {
                       "lat" : 28.4320831,
                       "lng" : -81.5317951
                    },
                    "southwest" : {
                       "lat" : 28.332787,
                       "lng" : -81.6153959
                   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&language=&placeid=ChIJ96XKNOZ-3YgRoPEc0B85Hqc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&language=&placeid=ChIJfeDYPyB_54gR0Ft0OAcS7fo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
          [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&language=&placeid=ChIJKat_Dzl-3YgRtdE5lBTycUA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
          [...]
