---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&types=cafe&name=&keyword=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [
              "Listings by \u003ca href=\"http://www.yellowpages.com.au/\"\u003eYellow Pages\u003c/a\u003e"
           ],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86820,
                       "lng" : 151.1945860
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "a6e36e20e63dfff2f8d5ef4dfa7c55f2c32d524c",
                 "name" : "Adriano Zumbo",
                 "rating" : 3.80,
                 "reference" : "CnRrAAAA3TcAtehESEdWGmFSmagWDupKZYLv0vP9iDKCzAPcp6y93BLHKuDYiF4BPHvLAV9WOzmFrc39EOkSI7e-Lv5LucTzJjfMdx6l-WoI0lMuRW38BHao6lfTky05Khqy35Li50vI5QgURqLRYRqLLmpAfxIQ3Z0IYhjCifbu-ygeGcKcyRoU21_tkLdBLNRfym3lO824RMCnjkU",
                 "types" : [ "bakery", "store", "cafe", "food", "establishment" ],
                 "vicinity" : "Shop 1, Cafe Court The Star/80 Pyrmont Street, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.8675480,
                       "lng" : 151.1955170
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "2722b46120160ec0a322e0a13cb0717ed41a696b",
                 "name" : "Biaggio",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "reference" : "CnRkAAAAb7LKxMxY5MdGDUpF3h_mH8rM9jUg0ipLSvCIyZdHUuSwK9B9glssBicSVuu2yGCCym8AnB8WIIB3ubA52Y7W3WLAgD1RN_otqLZfBj7jZumX75jwsvT7-MVnuEtbh3yDAA_qd1Kk209dKGWwsKB6XBIQAFKwevJBv8uN4kkjVBT6XRoUR-x-98frQiscRf_GJmqZWNDp0iU",
                 "types" : [ "cafe", "food", "establishment" ],
                 "vicinity" : "48 Pirrama Road, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [
              "Listings by \u003ca href=\"http://www.yellowpages.com.au/\"\u003eYellow Pages\u003c/a\u003e"
           ],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.867260,
                       "lng" : 151.1958130
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/wine-71.png",
                 "id" : "7eaf747a3f6dc078868cd65efc8d3bc62fff77d7",
                 "name" : "Biaggio Cafe - Pyrmont",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 600,
                       "html_attributions" : [],
                       "photo_reference" : "CoQBdwAAAAk9vBK-rvMrtu-CMld7p9R5HNEgUQdiykwd8QRMPxQ-s2ZK0iJoRLrITpcSztsD8CNCp_sQKohAkolvH0nyIgtolVH49hPXL23RWclbIC8Ua4NZnYmHvDWppTqlkcllrTLU3XoUxVhOJ-VSCqAAPkbKN7O0qyudRDxvIoCyaDAjEhBM2_V5PqWQHLlZICVs67ccGhS2GdpDBqH027tYRBRjRexoZ972vA",
                       "width" : 900
                    }
                 ],
                 "reference" : "CpQBhgAAAPyFJV0pawWczpRWiiOv4EC7UtEpvmmu83UJWD6lv738EK3PCK1h07oM2UcYbsbcYWl0KV-1SB8vn7xxa4Iib_0caQ7NsHZTEE0x3yQfea-7LjxHPnt21PDn2mYbkoz6oxs-MARjVExpfjl6hyCUXk6fBNLruAGaHiFxL6ex5xRTamO23TiWdgPQhNTe94EA1xIQow2E_m34SIDOrMTp2xpsSxoUnStYPRR1RML7zmbnJbK4tG8e2Gc",
                 "types" : [
                    "liquor_store",
                    "store",
                    "cafe",
                    "restaurant",
       [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&rankby=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
       [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&rankby=&key=abc123&name=&language=&keyword=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 22 Mar 2013 10:47:54 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868173,
                       "lng" : 151.194652
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "a6e36e20e63dfff2f8d5ef4dfa7c55f2c32d524c",
                 "name" : "Adriano Zumbo at the Star",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 160,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAAosolUIu5eeeFcY52ndCWtlIfye7vVW6roO2Y8_AkVvHsfElj0D_0g9n5eVhMQwyWEb1pBqs0y31VauU8KYDz2JyDzpnmx-8sDBtWEzXk768rDAIAdM7wqt7OlJwaSZDMYZTRq--KFC_95EFjJYasdRIQ0gsKq8G7ggcyqTxrzaqqjRoUka_q51EiyosXp2C5gQkomlM29dA",
                       "width" : 200
                    }
                 ],
                 "place_id" : "ChIJ1-v38TauEmsRco4bALTgoMo",
                 "rating" : 4.4,
                 "reference" : "CoQBfAAAAL8d9x2uZZmveRHU07tIZmGKdWNMUwPTsA93o2bp1RqWxuTGZGAugnxeHdEH1RA0S5Yo9fhlLbO01ZcEqr7xNGxCpfiF0eBfdWoAar35SGdFQTKeU5IqEvmbaA7_R7f2sck2GBfEmPn1_1PLdgxqg2WbPcHCNgRf2Wv9iYVjkmZKEhCJEe47bLWoKTD0gBZFH_20GhSim79esQk9-qwBoiZeJhwk30Pakg",
                 "scope" : "GOOGLE",
                 "types" : [ "bakery", "store", "cafe", "food", "establishment" ],
                 "vicinity" : "Shop 1, Cafe Court, The Star/80 Pyrmont St, Pyrmont"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.867217,
                       "lng" : 151.195939
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "7eaf747a3f6dc078868cd65efc8d3bc62fff77d7",
                 "name" : "Biaggio Cafe - Pyrmont",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 600,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAA4CPXUxGAYc2b-9off0o5wSBWBsfs0S8npMeEtmhvDhlJWHB5l35sEAKHAetdbGTKCsbvjVRjKb6-DIpjg2Nwnq3SBU4zM_aitB_j9_rWRM8YO8dHHb89bqSm3EvsMGyewWX1iT_Q5_plQM7GCkSFohIQnISVOdEX4-QEFovny87HnhoU3QbhEgsnlxUNRvDhZWVY6SQzjwc",
                       "width" : 900
                    }
                 ],
                 "place_id" : "ChIJIfBAsjeuEmsRdgu9Pl1Ps48",
                 "price_level" : 1,
                 "rating" : 3.3,
                 "reference" : "CoQBeQAAAJ0hAS5Oyc0PKAcjsBa97xfL5-9H_oVwHNbdcYG4qP50r_ESR6zcvunmF8V_UsgUtiH7in3_dwfIYvNVairi5ECLysdKlYvuEp1u9KKR4H9x9KRpYLGDlkAwVj7vX6FBrum9frGsYeCZ9gvBRiO4Iz2JYyDX_ZY4P2lkZEYOBSD3EhDtiPP2G99nM47Q80vH-jl-GhRg6ENZPmthku9rR_gwWJctFnk-wg",
                 "scope" : "GOOGLE",
                 "types" : [ "cafe", "bar", "restaurant", "food", "establishment" ],
                 "vicinity" : "48 Pirrama Road, Pyrmont"
              }[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyATDpXAyvequDQBzYjHucOXGEn7fXtikVo&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      enco[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyCJ0NiNmva8TTlxDoU-BWvxW27zGAichFk&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      enco[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868204,
                       "lng" : 151.194636
                    }
                 },
                 "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "a6e36e20e63dfff2f8d5ef4dfa7c55f2c32d524c",
                 "name" : "Adriano Zumbo at the Star",
                 "opening_hours" : {
                    "open_now" : false,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 160,
                       "html_attributions" : [],
                       "photo_reference" : "CnRnAAAANDa64aEVUPok2cBCB37di1encMxlJxJ54dLDB0ORBlrQy6IK35S_YS5RWHQhAwoIrFtBGczetY-N1sVAleNT0lyeS4pp1D1rYk_kvOCKoA2lECOgmXsB3NkoJdKTjlSfNsDEgyb5NNhInNo2-zbhsBIQxREa6nxGuCAwWS0J6SiwvBoUda34mS29irypQj_Q2wg3ZNtiu5w",
                       "width" : 200
                    }
                 ],[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=&rankby=&types=cafe
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sat, 01 Nov 2014 22:56:32 GMT
recorded_with: VCR 2.9.2
