---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CpQCCwEAAEnxFWGkSuKevTHL8jaeKQap8BiXrMTqRMd8KErtUdFdh51CN58lLVFey66ZsUW3XLPaDEEVeTp8lGiDELuKeXZK89r7MgdbWQFgmF5TyEfRxTeTCibWW2yW22NaFuukKoc917BexW4MJGlrhJsztpnqqyOd5X9BxNLEgLnEo5-s8xBzNzTECzexyymoWn-ZACIkfhVcaMKgltnaJkgrffstwlEGNq2DBb6GES4RWPUdMOEXuaJGM8xJob6QPSneumt6xk8F8on0ZyB-TWtuQFWEovUnWWHzp3JW9WkqEum3qZq_Qv1MrARIMU0VuhmnCFvTzFzWd0mWuThVvAN4xWB_GAFa9tpHTsunFerPDMszEhAkjsBfQ-ymSaBxPg8AZ3jTGhT_EGXM2_QQBtff0f_Ctuppul9ovA",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868111,
                       "lng" : 151.195219
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.868011,
                          "lng" : 151.19567405
                       },
                       "southwest" : {
                          "lat" : -33.868411,
                          "lng" : 151.19385385
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
                 "id" : "461d123aeb1c1648abdd5e535989d2bc518cf28e",
                 "name" : "Astral Tower & Residences",
                 "photos" : [
                    {
                       "height" : 645,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/106711896502688882221/photos\"\u003eAstral Tower &amp; Residences\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAANo8ICjTuii4Q4id5oFQFVmVZZVgR8A8UaMfm46oE78UOcnEUdIZpTy_TdKsNV33OCMkhHbGmUTMGMnsVdpq-T0b7WmnpcCJpembthJfXgfLa57nOY-oKDKhO3Qul2nWmj6sdutLGlXzlqcrGcFdp8ouU-cb72gCWaNJFFLh7RDqEhCBWpVon2UbasZPLl734B-5GhT-9S6eeK3kJ_IPon6YBt83w7Ru8w",
                       "width" : 1024
                    }
                 ],
                 "place_id" : "ChIJq6qq6jauEmsR46KYci7M5Jc",
                 "rating" : 4.2,
                 "reference" : "CmRSAAAA16gWSOzXB0FcQhcNiA2TX04G02BMABihtCCNgdWn82Jxhsw1z05CNp8pu9sk_LlEpdbzpeglZalvOoJbdsRp6p142S0vSpD1p9Cuo2zW5oi4OHn3GR9SgQRTrjX7gmmHEhDCcs5XCsA7ty-K4LGKIYP5GhR5bPnGTOpDfNz-eIr4anym7F5h5w",
                 "scope" : "GOOGLE",
                 "types" : [ "lodging", "point_of_interest", "establishment" ],
                 "vicinity" : "80 Pyrmont Street, Sydney"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86799999999999,
                       "lng" : 151.195
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86779065,
                          "lng" : 151.19531415
                       },
                       "southwest" : {
                          "lat" : -33.86862805,
                          "lng" : 151.19405755
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "0761a21e23eda2598330d428413cb59431316a61",
                 "name" : "Lobby Lounge",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : false,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 816,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/110208511255995075770/photos\"\u003eJonathan O&#39;Brien\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBcwAAAP7MRmb8mSAfBS5fwKaIjbBzsIYaerQMB-Lz5DPn8gj2B8lR6brDphv0WKfHBiogRUinLF6c-VaiPiJg_fI3SzOQV0ia70vrk24t-RM3Pv8fD[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyD9vqH-0-sVgX2jhXteunpS_mVWTqRUadE&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=atm%7Clodging
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 18 Jun 2019 10:17:15 GMT
[...]
