---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "predictions" : [
              {
                 "description" : "Query Jr Henry C, Manchester Road, Wheaton, IL, United States",
                 "id" : "023a27834f518f2af4cdb9cf37087958cd969ea3",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJ6eYdBKhVDogRIDxU2xTHpqE",
                 "reference" : "ClRMAAAAJu9_J_GuM9qwBeUCiu-wZe6WuWAQdcsWGuB3H0vlwiWbUzj-lw_7VrBnRtl8lj3CS81VHb_J1zVz2RRLyQ9a4sIKZ5tadcDC_3s3NWzM28oSEN18kx1AEEPKV8eXOsc699gaFNVKy_A1cn-4ZKrYT00PjQ4L6Bj6",
                 "structured_formatting" : {
                    "main_text" : "Query Jr Henry C",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 5,
                          "offset" : 0
                       }
                    ],
                    "secondary_text" : "Manchester Road, Wheaton, IL, United States"
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "Query Jr Henry C"
                    },
                    {
                       "offset" : 18,
                       "value" : "Manchester Road"
                    },
                    {
                       "offset" : 35,
                       "value" : "Wheaton"
                    },
                    {
                       "offset" : 44,
                       "value" : "IL"
                    },
                    {
                       "offset" : 48,
                       "value" : "United States"
                    }
                 ],
                 "types" : [ "establishment" ]
              },
              {
                 "description" : "Query Street, New Bedford, MA, United States",
                 "id" : "7ec01a04e7ff7a326e0de7e787c5fd03de916371",
                 "matched_substrings" : [
                    {
                       "length" : 5,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "EixRdWVyeSBTdHJlZXQsIE5ldyBCZWRmb3JkLCBNQSwgVW5pdGVkIFN0YXRlcw",
                 "refe[...]
