---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"predictions\" : [],\n   \"status\" : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 28 Feb 2014 14:24:17 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=query&sensor=false&key=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: US-ASCII
      string: ! "{\n   \"predictions\" : [\n      {\n         \"description\" : \"Query
        Tom LPC, Old Roswell Lakes Parkway, Roswell, GA, United States\",\n         \"id\"
        : \"7298c121d5c7078d61ef2615b3bddf48d48deb35\",\n         \"matched_substrings\"
        : [\n            {\n               \"length\" : 5,\n               \"offset\"
        : 0\n            }\n         ],\n         \"reference\" : \"CmRTAAAAY2DWFTLIpwtBGTt94gOr3kd5AjS9KDpwWYyFPYK-feRCCZWuBTkw6X-sKQVYE2YOqNZcbz3raatOaqdfFIoHWsHmbIKo9pgi4zo7hQM88HPtazcQ3nlXlBAmnaqt0N9VEhBrafsrusT0e5bk4kTFxkv2GhSsiuejhMmnTadKBzCqSmo1XK3zGw\",\n
        \        \"terms\" : [\n            {\n               \"offset\" : 0,\n               \"value\"
        : \"Query Tom LPC\"\n            },\n            {\n               \"offset\"
        : 15,\n               \"value\" : \"Old Roswell Lakes Parkway\"\n            },\n
        \           {\n               \"offset\" : 42,\n               \"value\" :
        \"Roswell\"\n            },\n            {\n               \"offset\" : 51,\n
        \              \"value\" : \"GA\"\n            },\n            {\n               \"offset\"
        : 55,\n               \"value\" : \"United States\"\n            }\n         ],\n
        \        \"types\" : [ \"establishment\" ]\n      },\n      {\n         \"description\"
        : \"Query Street, New Bedford, MA, United States\",\n         \"id\" : \"7ec01a04e7ff7a326e0de7e787c5fd03de916371\",\n
        \        \"matched_substrings\" : [\n            {\n               \"length\"
        : 5,\n               \"offset\" : 0\n            }\n         ],\n         \"reference\"
        : \"CjQwAAAAmxA5br5rwSM9m5lbch9NrRt4vkRzPgbSvpN_7gKVOstGG-MK4XK6eDYtYWmOvCEjEhAEy4XBgPhiXgojlnhh-Tw8GhQQcY2jmE3y-XY[...]
