---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/search/json?radius=200&location=-33.8670522%2C151.1957362&sensor=false&types=food%7Cestablishment&name=&keyword=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"html_attributions\" : [\n      \"Listings by \\u003ca href=\\\"http://www.yellowpages.com.au/\\\"\\u003eYellow
        Pages\\u003c/a\\u003e\"\n   ],\n   \"next_page_token\" : \"CmRZAAAAi8peACBa8_s8pJzHuiRTZCz_nWONJk2q-SGZNhrw980U8Hf9q59DcZ69X3eS9gr8X8qi-dOIy5U44mRCuLnNVzEkT_Pzax-9_-yIzMkYWbDanJgX4DbHAOXOs2rApwX2EhD-iJGFShY9l0wWqLdUEPZuGhTe9jYemr4Qwkmeu98AlEde1iA32Q\",\n
        \  \"results\" : [\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.8681990,\n               \"lng\" : 151.1945850\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png\",\n
        \        \"id\" : \"edd23ebe6cd17dcbd9139e2643324c9195a9e3e3\",\n         \"name\"
        : \"The Star\",\n         \"opening_hours\" : {\n            \"open_now\"
        : false\n         },\n         \"rating\" : 4.10,\n         \"reference\"
        : \"CnRmAAAAlBe0r2l3G_XFe8qW_wPfydoBX0PFFuv4eHMq3JPqbZChy0eFm7eQEnOuNiWOxIywGhr9LGtXWwkW2gl79-NQWRxDkPNGgh9Zd2oLBdYz6f44LaB5RWfsD6XSqbBaMpn7IgoyEdPFyVNsBvsSWeFVXhIQO4oLmEgDr4a5o1GBbjCiphoUklHfOMBvuY90XxP7nbh3Gg5twPE\",\n
        \        \"types\" : [ \"night_club\", \"bar\", \"restaurant\", \"lodging\",
        \"food\", \"establishment\" ],\n         \"vicinity\" : \"80 Pyrmont Street,
        Pyrmont\"\n      },\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.86820,\n               \"lng\" : 151.1945860\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"268f3a99e1bd1a67b57fc561f67135d071c21a2c\",\n         \"name\"
        : \"The Star\",\n         \"rating\" : 4.20,\n         \"reference\" :[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=200&sensor=false&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"next_page_token\" : \"CmRcAAAA5iFJ3ofh4bue3IGjNIoSHL7_mm-3_UzSh1RPBmcUWmzti9Irqffo9BUiT4V5MlMy64dZYD_EpyGB-foXX9yjC1dalS5zbqIVfN_7l2G5mH81AH_jmdGDEA4P3JeGcrqgEhCh_uHGJFIeKzcDzFUD-E1dGhQ0Ywrvjm-nAT-QVbfGjYKgUtY5SQ\",\n
        \  \"results\" : [\n      {\n         \"geometry\" : {\n            \"location\"
        : {\n               \"lat\" : -33.8681990,\n               \"lng\" : 151.1945850\n
        \           }\n         },\n         \"icon\" : \"http://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png\",\n
        \        \"id\" : \"edd23ebe6cd17dcbd9139e2643324c9195a9e3e3\",\n         \"name\"
        : \"The Star\",\n         \"opening_hours\" : {\n            \"open_now\"
        : true\n         },\n         \"photos\" : [\n            {\n               \"height\"
        : 645,\n               \"html_attributions\" : [],\n               \"photo_reference\"
        : \"CnRnAAAA48GEX5Di0DcjR3GquRa4hiVgHj1i4GvCKfRz5EIRRxC2kOklJgrf69jBxYVKnrMZqeg7dQ-pofmjSJ20YQOKmuR0xLpUxhxeGpEUGaazDjuOLjKjPWtQiT2_8kQA7xS53_d5tiv7YKLecJ80UQQO7BIQ2w9LSEy-JG41zNRGb_wnShoUFS6EwsG01JHYsnK6TUUISvE7x5w\",\n
        \              \"width\" : 1024\n            }\n         ],\n         \"rating\"
        : 4.20,\n         \"reference\" : \"CpQBhgAAAC2WlMnM8F2sqGehYkl64hdN9IMTRNRQ-aPmQsMqBn0wBIrUkGCkalS1mzj-ACgUPQert3zUk7kE98wxSDfvqdPjAwvbjzKGr1XADQuyF0g6a4lCerK3vArzmPuBdcKhFxAiQfn-hRk2dyMkAALEUQNYSk7oV5ew6vWgs5Fk4Ym_FIJljqmsx8IqXHKJr8bAARIQpzxYO9GzwNVLGofoJHUmhhoUddEv3pK106Vp-NZ_5RWkAjzvtno\",\n
        \        \"types\" : [ \"restaurant\", \"lodging\", \"food\", \"casino\",
        \"establishment\" ],\n         \"vicinity\" : \"80[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=CmRcAAAAqJXGel7geu-Z2Jcz9p1gFhajWbOik0o3_pC9xovhfzqiyutk5pnd4fll1dCzgIWpXEnvTsSuGR-EQTsRe7TuJhrt9vDxGf7K20BLDN6x6N3bHH5ZlMTsNb9VxiP_butaEhAzLADmqSuh6LfGXkgUin_UGhTVVYudJvJ3lvz_H9LhxVxW9nMMag&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      con[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=CmRcAAAAcA40ZkiT-hzrZlow5D5kh2G65CEmEIDTV54UTNH-U1eOis9z1xOtnMMbw_O57mcKCejkr0GECjadh_jqvYVu_ieab8TpGBLdGG3tMEt_uOo6UVsRlznEnOs2D_z2LqtHEhAo_41xkjRZqhhXKXQ8yhPcGhTDD-CW3nZQh86rGpP-u-1126TFSA&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      con[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&name=&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=CmRcAAAADKPcNgF1IuuMlxOj8S9v2Cd8gas22uj4q-VvLutKC8V8r9RJM_N-sV133Ls7mlkPDzxqxbBlgnNZOh838JvOLZEOrrxfY-HaZd76V6vcaTBCrej1iI0bO62A2EmHl014EhA17n5j2NvJ5vkqJo2o-FZdGhRD6qlUrPLtSC-biTtvoZL4dUBnRw&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=CmRcAAAAo_N7pLqUlggut_cNsaAMj_LraP04K5fm2smjVNK__69qjemdrJqCmVFSBGOoOG-4lWyrFnWLt11wepidxgE-Q_V_YkH-fEs7QQ6HlOl41Vm0DFQjzKYaaz2maLFgbi2eEhCO74kXt4if36hE2T5X5b7BGhQy-e4InA0kFLRhcenoCybeQmDNwg&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.86705220%2C151.19573620&radius=200&sensor=false&rankby=&key=abc123&name=&language=&keyword=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"html_attributions\" : [],\n   \"results\" : [],\n   \"status\"
        : \"REQUEST_DENIED\"\n}\n"
  recorded_at: Fri, 22 Mar 2013 10:47:55 GMT
recorded_with: VCR 2.2.5
