---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CpQCCwEAAM85WMIOXoNEy4QeG7Dv5G79YDkerCllrI7j3VhopS4xkzuGpBrFen6wUcLdc4zQwRfmUlMjOH5Ac7V_ga-ZSGHn2YZzIEb7NprjkktFnObSGlNupPOFei4rkL23PpQ5h9bVvAFQdpjt_xHsk4TEWlV4beZjECRXXi_IcLujgNIIvtZf8S4vNQkIVSsUwoTP0kXbp3vyTPXBTs3VOdwe8yc94IKQvhvY6qKx5rWXwJ0LJX3dGudWDG-jORMJ5Pg828EObFTkcMQJUqT7mJJZOWodY42mDLbqHoz7ys6SA34AB-QV-2pDoJCXbyhEEcHtuxH4dtxl7KvGXmml5WOkopGpL8Sf1CwaE3N1opJk4PYAEhBl5ZH4X5S19L6kxFKIRgMAGhTU2ljtcNdjbx_lZ6fXoZefYtgZ8Q",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868111,
                       "lng" : 151.195219
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.868011,
                          "lng" : 151.19567405
                       },
                       "southwest" : {
                          "lat" : -33.868411,
                          "lng" : 151.19385385
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
                 "id" : "461d123aeb1c1648abdd5e535989d2bc518cf28e",
                 "name" : "Astral Tower & Residences",
                 "photos" : [
                    {
                       "height" : 645,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/106711896502688882221/photos\"\u003eAstral Tower &amp; Residences\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAAPJD03EMu_1-4kCt8mkbUyPTpX1TowVf_MI0fSsHdklvL-5Egkq2-t_NWxw6fzQ_zQ--eGqDrvrhfgHB7ENSLKvIDSRmRUZTGqwMhTsZaeAkAVtLqOa5HQfl7luDhOhraCCE4SucweEMWGYz-YZVdpeejiIfsVKfg5ED7fCHRdhhEhAqM-mwen_leBT96dFt80xzGhQ_3-l3_WOzE3BG8dq9IrYxGDS8YA",
                       "width" : 1024
                    }
                 ],
                 "place_id" : "ChIJq6qq6jauEmsR46KYci7M5Jc",
                 "rating" : 4.2,
                 "reference" : "CmRSAAAAjYDbcPn1xFDw2M4RRh-q-NNy24NO7u2byiMmZ2SbbJ9eBWTBK_NNtRazXeKeNUaqKDhlR89SKlxegUWELUnM8q6k0VTchZKx4LzXM-tXgbpZYdkaeQdv0fXXJ7pRmRtoEhDeuzIaIpYAQseX_mKGkIjSGhQrs9l5u5z4T422FudeDbPWceY0VA",
                 "scope" : "GOOGLE",
                 "types" : [ "lodging", "point_of_interest", "establishment" ],
                 "vicinity" : "80 Pyrmont Street, Sydney"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86799999999999,
                       "lng" : 151.195
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86779065,
                          "lng" : 151.19531415
                       },
                       "southwest" : {
                          "lat" : -33.86862805,
                          "lng" : 151.19405755
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "0761a21e23eda2598330d428413cb59431316a61",
                 "name" : "Lobby Lounge",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 816,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/110208511255995075770/photos\"\u003eJonathan O&#39;Brien\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBcwAAAA8nqME_DiyXwej10pdN2KYK_xPF1Lu2rYU4fHsHyUJGSxruHP2pkMvsnbQ0ovrLuaTj7NjTNWf0L8rHIoyafdj40oguJN8i-_RgvOZbUeGHk[...]
