---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=&language=&location=-33.86705220,151.19573620&name=&radius=200&rankby=&types=food%7Cestablishment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CpQCCwEAANQ8nADz-UogEKva6lWXoyUSUe6BgAwiCagFtH3XfnCgm7isrUrJG2CNN-Oz7tEe9JPpS9d59dBx5txzehNTWl9dF1sNaslViE-wg_n3a0IqmZKjVckfp74HenGcaXFSq-nWoe9xOuq3854COmGrZ9KwfF1dSUsU1TVbHwzJLkARC3OmMDWwbKrRWfpIHdLeZjkIIipGxP8Ks8hY_QgRLh0kh6dBIWDPSzK6pNA_cNe1XXpN3kufSJX9Ye3EtL75FDu6Tbtn1jKPpV_z9EnLZZ3WsQnEuXaYDaHw_ir6k9VBq_XdiB27vQMKJokNqDOa8MF1Kc_cEFKQx3hUhwH8ClkqVU5mWqXhT2x0ePxw1MXAEhArAUzQ_lbPBX40DNTIOW6-GhSgtU3QIqG7O0ii49CSxNJ_dXuHrw",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.868111,
                       "lng" : 151.195219
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.868011,
                          "lng" : 151.19567405
                       },
                       "southwest" : {
                          "lat" : -33.868411,
                          "lng" : 151.19385385
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
                 "id" : "461d123aeb1c1648abdd5e535989d2bc518cf28e",
                 "name" : "Astral Tower & Residences",
                 "photos" : [
                    {
                       "height" : 645,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/106711896502688882221/photos\"\u003eAstral Tower &amp; Residences\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAAAmGfw1DVz23hGpaglBn7fy1PWO6JFKSpcjG5KlMCtwAzLecioWpgiWTS40nUYLB92TCu37aV2GLRcp-6ATRwHs1F522LBi0PhXuyMYLK0bcACCVbX65GGwcmw_eWCMpEE0dzMr4XI7htyzzMPgmEFeZO-v3kmGvvg1DvkD-WUqfEhBiMnG67-ZQx5T2lXbs_CkQGhRV_YlWo6T64AuMG8rozTGXlBDZvA",
                       "width" : 1024
                    }
                 ],
                 "place_id" : "ChIJq6qq6jauEmsR46KYci7M5Jc",
                 "rating" : 4.2,
                 "reference" : "CmRSAAAAEVtb7H4TClN8DfJDXQcuw6XjTJjq24n5t8e8mYnwfyoFFbSgzY-XMjqQMiKOYu-ZcL358OGFeVlmXncDcYqyhCmlCNIZL4Ui4hjUDMs1L4y6GrHnk6xlLOI4bFsSS-cxEhCi_D7ejLRWjdxXc9BpLZWqGhSS6Giy6P_WOU6IX5V-UqSb7sEMpQ",
                 "scope" : "GOOGLE",
                 "types" : [ "lodging", "point_of_interest", "establishment" ],
                 "vicinity" : "80 Pyrmont Street, Sydney"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86799999999999,
                       "lng" : 151.195
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.86779065,
                          "lng" : 151.19531415
                       },
                       "southwest" : {
                          "lat" : -33.86862805,
                          "lng" : 151.19405755
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "0761a21e23eda2598330d428413cb59431316a61",
                 "name" : "Lobby Lounge",
                 "opening_hours" : {
                    "exceptional_date" : [],
                    "open_now" : false,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 816,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/110208511255995075770/photos\"\u003eJonathan O&#39;Brien\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBcwAAAMj-kl5y1muMS6KKMAsPFG6fEatpiBlcatYQP2w4bXJu8sxdm_uc9piPEXYY2NivxEXF1eqzwiYkEDhwP0t6Vgm3gz3E_3PqsRfhYiY9E33jk[...]
