---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=attractions&location=-33.86705220,151.19573620&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86766899999999,
                       "lng" : 151.198098
                    }
                 },
                 "id" : "4350104e7c0197a9cbd769782e0509cd76623fc7",
                 "place_id" : "ChIJVVUVkTeuEmsREx6jD41IUGw",
                 "reference" : "CmRRAAAAVKnCOgOqfbso994vc86jbTRCgUgmUBa-0tv7l93sKlafAtuf82X5RT3tzomqB__1W-VRpnEx8S8XRUa3b852lzMLsZesbuoeWUJA3cxH3-ia-kErUh6_J-HPSt2-ED7GEhBf75jtFc8pFBh8xCdCaTdrGhS0RbQGUbSuqdW8bNfh3n0WzDewxg"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : -33.86812,
                       "lng" : 151.1969113
                    }
                 },
                 "id" : "e5a0f70cb82239bfa4b648b7c70326c93d8ce2a3",
           [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&location=-33.86705220,151.19573620&name=park&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
        [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&location=-33.86705220,151.19573620&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Tue, 07 Feb 2017 16:16:15 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/radarsearch/json?key=AIzaSyAKeN0XMV5LqJmqBrZZ1K8qMipFW7-Eybg&keyword=attractions&location=48.85670000,2.35080000&name=&radius=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" :[...]
