---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU&key=DUMMY_KEY&language=&extensions=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "48",
                    "short_name" : "48",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Pirrama Road",
                    "short_name" : "Pirrama Road",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Pyrmont",
                    "short_name" : "Pyrmont",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "NSW",
                    "short_name" : "NSW",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "AU",
                    "short_name" : "AU",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "2009",
                    "short_name" : "2009",
                    "types" : [ "postal_code" ]
                 }
              ],
              "aspects" : [
                 {
                    "rating" : 26,
                    "type" : "overall"
                 }
              ],
              "formatted_address" : "5/48 Pirrama Road, Pyrmont NSW, Australia",
              "formatted_phone_number" : "(02) 9374 4000",
              "geometry" : {
                 "location" : {
                    "lat" : -33.8669750,
                    "lng" : 151.1956770
                 }
              },
              "icon" : "http://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
              "id" : "4f89212bf76dde31f092cfc14d7506555d85b5c7",
              "international_phone_number" : "+61 2 9374 4000",
              "name" : "Google Sydney",
              "photos" : [
                 {
                    "height" : 1536,
                    "html_attributions" : [ "From a Google User" ],
                    "photo_reference" : "CoQBdQAAAOpjjMaphr6pD5-JwovK8-I9NKWe-JNO1SugARrTg8RitWztB_THOQY0MN6AJkRoGjsMqCyoyeB5bP_KLrVsJawrImMFf5AsqWmlmgE6lqMkxUCfdfHX6bvNCgmfdyw9nvIawcWHmeSXK-QlshyXPqf0ivgXPRiNGL1n0KGYXcOIEhCGooI3XdTgGkcqNtE2IuRnGhQpFtsRL8EkhVAkwvETMdWhKpK1sw",
                    "width" : 2048
                 },
                 {
                    "height" : 480,
                    "html_attributions" : [ "From a Google User" ],
                    "photo_reference" : "CnRqAAAAA-PmKqecx0gTWr-8oJ_-3m-3rryseHducvarDymXzStokD0y1nwYu9yR5GzZUrl0hUG02Jes7Ygv2JDodgP0PuioJFl9yRN6ilyIAEhuSqLwmz93M_NnFh0AE2MMEtGXzwtGL1UyGr7E3_HZ-hVcfBIQdAq8C9bymgbghTUH52CHsxoUEGa9FtFJhkB-APRDeHMVY7RUqWY",
                    "width" : 640
                 }
              ],
              "rating" : 4.60,
              "reference" : "CnRsAAAAekNhjWYzXAZlVE5tm1jMeFlu_nuR_Z9ezqs-0fN50C0fRiNFuAS1co7ol0AvJia8HvBGMW9zriFkmq2dqaW9A4D3axu7jqmTeF3Nv7MeY2vAFtL-eBMRWCKrEWV_czTytz-_rgD3Q3yayKSrSXyclRIQzFJ6XsMSJvMpJ-o43V5KuBoUjv_GD46tYDJcp8CzQSGchlxaUdY",
              "reviews" : [
                 {
                    "aspects" : [
                       {
                          "rating" : 3,
                          "type" : "quality"
                       }
                    ],
                    "author_name" : "Albert Mai",
                    "author_url" : "https://plus.google.com/106558367962383756670",
                    "text" : "All Googlers are so nice and friendly. They will always answer your questions, open to questions and willing to help you with their best. The office locates at a very strategic place - in CBD and has wonderful view over the harbor. Really enjoy having lunch outside to enjoy the wind and fresh air for inspiration (but watch out for flying dishes because of strong wind). However, food is kinda lack of the variety comparing to other offices. The plus is food station is almost everywhere which feed you very well (be careful of gaining so much weight). There will usually be surprise when you work here: Ice Cream, Nexus 7, Chrome notebook, Nexus and many other swags. There are a lot of trees inside the building which I really like it - so fresh !",
                    "time" : 1358249804
                 },
                 {
                    "aspects" : [
                       {
                          "rating" : 3,
                          "type" : "quality"
                       }
                    ],
                    "author_name" : "David Webb",
                    "author_url" : "https://plus.google.com/115578224090485355580",
                    "text" : "Awesome company! Great culture and food. A fantastic office indeed. Definitely deserves the t[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 22 Mar 2013 10:59:47 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Fri, 22 Mar 2013 10:59:47 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=&extensions=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      messag[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?reference=CnRpAAAAlO2WvF_4eOqp02TAWKsXpPSCFz8KxBjraWhB4MSvdUPqXN0yCpxQgblam1LeRENcWZF-9-2CEfUwlHUli61PaYe0e7dUPAU302tk6KkalnKqx7nv07iFA1Ca_Y1WoCLH9adEWwkxKMITlbGhUUz9-hIQPxQ4Bp_dz5nHloUFkj3rkBoUDSPqy2smqMnPEo4ayfbDupeKEZY&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "debug_info" : [],
           "html_attributions" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Mon, 08 Jul 2013 09:54:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "5",
                    "short_name" : "5",
                    "types" : [ "subpremise" ]
                 },
                 {
                    "long_name" : "48",
                    "short_name" : "48",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Pirrama Rd",
                    "short_name" : "Pirrama Rd",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Pyrmont",
                    "short_name" : "Pyrmont",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "NSW",
                    "short_name" : "NSW",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "Australia",
                    "short_name" : "AU",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "2009",
                    "short_name" : "2009",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "5/\u003cspan class=\"street-address\"\u003e48 Pirrama Rd\u003c/span\u003e, \u003cspan class=\"locality\"\u003ePyrmont\u003c/span\u003e \u003cspan class=\"region\"\u003eNSW\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e2009\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eAustralia\u003c/span\u003e",
              "formatted_address" : "5/48 Pirrama Rd, Pyrmont NSW, Australia",
              "formatted_phone_number" : "(02) 9374 4000",
              "geometry" : {
             [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&reference=CnRpAAAAlO2WvF_4eOqp02TAWKsXpPSCFz8KxBjraWhB4MSvdUPqXN0yCpxQgblam1LeRENcWZF-9-2CEfUwlHUli61PaYe0e7dUPAU302tk6KkalnKqx7nv07iFA1Ca_Y1WoCLH9adEWwkxKMITlbGhUUz9-hIQPxQ4Bp_dz5nHloUFkj3rkBoUDSPqy2smqMnPEo4ayfbDupeKEZY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Mon, 21 Jul 2014 11:28:47 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=&reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      messag[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyATGBjcfrRXQtNEMMyt8Fw7tSGEY8PQwv0&language=&placeid=ChIJN1t_tDeuEmsRUsoyG83frY4
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyATDpXAyvequDQBzYjHucOXGEn7fXtikVo&reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyATDpXAyvequDQBzYjHucOXGEn7fXtikVo&reference=CnRpAAAAlO2WvF_4eOqp02TAWKsXpPSCFz8KxBjraWhB4MSvdUPqXN0yCpxQgblam1LeRENcWZF-9-2CEfUwlHUli61PaYe0e7dUPAU302tk6KkalnKqx7nv07iFA1Ca_Y1WoCLH9adEWwkxKMITlbGhUUz9-hIQPxQ4Bp_dz5nHloUFkj3rkBoUDSPqy2smqMnPEo4ayfbDupeKEZY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Tue, 14 Oct 2014 18:48:58 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyATDpXAyvequDQBzYjHucOXGEn7fXtikVo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Tue, 14 Oct 2014 18:48:58 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyATDpXAyvequDQBzYjHucOXGEn7fXtikVo&language=&placeid=ChIJN1t_tDeuEmsRUsoyG83frY4
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyCJ0NiNmva8TTlxDoU-BWvxW27zGAichFk&reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyCJ0NiNmva8TTlxDoU-BWvxW27zGAichFk&reference=CnRpAAAAlO2WvF_4eOqp02TAWKsXpPSCFz8KxBjraWhB4MSvdUPqXN0yCpxQgblam1LeRENcWZF-9-2CEfUwlHUli61PaYe0e7dUPAU302tk6KkalnKqx7nv07iFA1Ca_Y1WoCLH9adEWwkxKMITlbGhUUz9-hIQPxQ4Bp_dz5nHloUFkj3rkBoUDSPqy2smqMnPEo4ayfbDupeKEZY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Tue, 14 Oct 2014 21:08:47 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyCJ0NiNmva8TTlxDoU-BWvxW27zGAichFk
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Tue, 14 Oct 2014 21:08:47 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyCJ0NiNmva8TTlxDoU-BWvxW27zGAichFk&language=&placeid=ChIJN1t_tDeuEmsRUsoyG83frY4
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro&reference=CnRsAAAASc4grenwL0h3X5VPNp5fkDNfqbjt3iQtWIPlKS-3ms9GbnCxR_FLHO0B0ZKCgJSg19qymkeHagjQFB4aUL87yhp4mhFTc17DopK1oiYDaeGthztSjERic8TmFNe-6zOpKSdiZWKE6xlQvcbSiWIJchIQOEYZqunSSZqNDoBSs77bWRoUJcMMVANtSlhy0llKI0MI6VcC7DU
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro&reference=CnRpAAAAlO2WvF_4eOqp02TAWKsXpPSCFz8KxBjraWhB4MSvdUPqXN0yCpxQgblam1LeRENcWZF-9-2CEfUwlHUli61PaYe0e7dUPAU302tk6KkalnKqx7nv07iFA1Ca_Y1WoCLH9adEWwkxKMITlbGhUUz9-hIQPxQ4Bp_dz5nHloUFkj3rkBoUDSPqy2smqMnPEo4ayfbDupeKEZY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Sat, 01 Nov 2014 22:54:12 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sat, 01 Nov 2014 22:54:12 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=AIzaSyDnfdcHZkxkytfKJTIiLeJgWl3EJxwI6Ro&language=&placeid=ChIJN1t_tDeuEmsRUsoyG83frY4
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {[...]
